<ng-topbar activity="{{'ACTIVITY_CHANGES' | translate}}"></ng-topbar>

<md-content flex class="md-padding" style="padding-bottom:30px">
    <div class="row">
        <h4 class='md-title'>18/7/2016 &mdash; 0.947</h4>
        <p class="md-body-1">Fixed critical regression that bombed out creating new annotations on a brand new session. Fixed debug mode console error on annotation UI. Fixed caption file save bug that caused high CPU and kept the file locked.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>18/7/2016 &mdash; 0.946</h4>
        <p class="md-body-1">Deleting all annotations from a 'track' will properly remove the track from the session view if it isn't
            associated with the segmentation from an audio file, e.g. respeaking or translation.</p>
        <p class="md-body-1">Adding multiple annotations at the same time of the source (not a respeaking or translation track), Aikuma-NG would create multiple 'tracks', e.g. each would
            have it's own segmentation. This was a a critical error and lead to very confusion behavior. They are now properly placed in the same track.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>18/7/2016 &mdash; 0.945</h4>
        <p class="md-body-1">Added key configuration to the settings tab. Only the annotation UI uses these keys at the moment. This feature was motivated by seemingly ordinary key
            bindings not being the same as the same key when using the keyboard event keyCode. Beware, binding a key like 'a' will mean one cannot type 'a' in the transcription text box.
        </p>
    <div class="row">
        <h4 class='md-title'>6/6/2016 &mdash; 0.944</h4>
        <p class="md-body-1">Session view: Annotation language will wrap instead of being cut off.</p>
        <p class="md-body-1">Fixed bug where annotation UI would not let annotation past a previous span. Cause: Attempt to scroll to a transcript line that did not yet exist.</p>
        <p class="md-body-1">Elan export implemented. This is done via the share menu in the nav bar. A session must be selected first. The share view currently only has ELAN export.
            This will create a zip file with the source recording and the Elan EAF file.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>31/5/2016 &mdash; 0.943</h4>
        <p class="md-body-1">The debug features are moved to a new nav menu. It's enabled in the settings menu with a switch as before.</p>
        <p class="md-body-1">Help dialog icons added to language, person (speaker) and tag selectors.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>10/5/2016 &mdash; 0.942</h4>
        <p class="md-body-1">English: Annotations of type 'annotation' are now of type 'transcription' to avoid confusion.</p>
        <p class="md-body-1">Tidy up of edit metadata, new metadata and new annotation dialog layouts.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>9/5/2016 &mdash; 0.941</h4>
        <p class="md-body-1">Audio annotation views: Implemented online help (English) via the <md-icon class="imgsvgicon" md-svg-icon="action:help"></md-icon> icon. We really must get these translated.</p>
        <p class="md-body-1">Audio annotation views: Fixed a bug so the user can release a play or record key, even if they have clicked another key. The screen shake error is shown if they have tried to
        press two control keys.</p>
        <p class="md-body-1">Audio annotation views: Very short play segments on respeak and translate are treated as errors. If the user attempts to record, the screen shake error is shown and a toast explains
            that the user must press and HOLD the play key (this is the most common cause of error).</p>
    </div>
    <div class="row">
        <h4 class='md-title'>9/5/2016 &mdash; 0.940</h4>
        <p class="md-body-1">Playback of audio can now be stopped on the session view</p>
        <p class="md-body-1">Fixed incorrect playback of secondary audio. Related to MediaElement being essentially broken so we have instead adopted web audio.
            No timestretching for secondary audio playback. :(</p>
        <p class="md-body-1">Fixed annotation UI issue where the next region did not automatically start after completing a region. Aikuma now aggressively rounds to the millisecond.</p>
        <p class="md-body-1">Annotation UI transcript now scrolls to keep the current region in view.</p>

    </div>
    <div class="row">
        <h4 class='md-title'>6/5/2016 &mdash; 0.939</h4>
        <p class="md-body-1">Remove patterned back frame if screen is is less than less 1280px wide. Progress displays on wavesurfer instances on session and annotation view.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>5/5/2016 &mdash; 0.938</h4>
        <p class="md-body-1">All views parent frame expands to screen. Improvements to annotation UI layout, track boxes don't flex out. Less wasteful padding. Improved seek behavior when clicking on waveform.
            Hopefully fixed waveform minimap failing to appear on first load. Moved zoom controls to the left.</p>
        <p class="md-body-1">Aikuma saves all annotation data when navigating away from the annotation UI.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>3/5/2016 &mdash; 0.937</h4>
        <p class="md-body-1">Caption export fixed.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>3/5/2016 &mdash; 0.936</h4>
        <p class="md-body-1">Restored broken annotation UI transcript.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>3/5/2016 &mdash; 0.935</h4>
        <p class="md-body-1">In annotation view, repeat play of regions would erroneously re-play but ignore the region end point. This has been reworked to allow re-play but it properly
            cancels previous playback.</p>
        <p class="md-body-1">Annotation view: Zoom slider and buttons added. Window resize behavior such that the waveform and mini maps resize correct. The waveform display can never be
            less than the full width of the display.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>2/5/2016 &mdash; 0.934</h4>
        <p class="md-body-1">Fixed bug introduced in 0.933 (oops) stopping seek if there are no regions.</p>
        <p class="md-body-1">A short play-mark action is now assumed to be in error and the region is deleted. Usually the user has forgotten to hold Ctrl.</p>
        <p class="md-body-1">Note: Enabling preserve-pitch makes the waveform display completely inaccurate. We're working on it but it's not clear why this happens.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>2/5/2016 &mdash; 0.933</h4>
        <p class="md-body-1">Fixed a serious bug that would stop playback prematurely when playing a region. Altered rewind key behavior,
            will seek to end of last region and then the start of the last region.</p>
        <p class="md-body-1">Secondary list on session view now numbers different respeaking/translation audio annotations for clarity.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>30/4/2016 &mdash; 0.932</h4>
        <p class="md-body-1">Clicking on Aikuma logo now goes to home view. The Aikuma about dialog is now activated by clicking the version number at the bottom of the nav
        bar. The debug mode is moved to a switch within the settings view.</p>
        <p class="md-body-1">Adding new annotations now goes directly to the annotation view. Annotation summary text is now clipped in a new three-line fixed display.
            The transcript view on the annotation UI now properly resizes when text is longer than a single line.</p>
        <p class="md-body-1">Annotation view key change: Left and right arrow (cursor) keys to navigate are now shift + left and shift + right, so as to enable using cursor keys while editing an annotation.</p>

    </div>
    <div class="row">
        <h4 class='md-title'>28/4/2016 &mdash; 0.931</h4>
        <p class="md-body-1">Fixed issue where you couldn't click on a name to log in (need to click anywhere else on the line).</p>
        <p class="md-body-1">Waveform displays should no longer appear blank for long audio files.</p>
        <p class="md-body-1">Fix bug introduced in 0.930 with playback of audio on session view playing every second region.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>28/4/2016 &mdash; 0.930</h4>
        <p class="md-body-1">Fixed overshoot of playback when using time stretching. Fixes some leftover flashing CSS
            elements after region playback on annotation UI. Annotation UI will not ignore region play requests if a
            region is already playing (fixes flashing icons that shouldn't be flashing).
            When user adds or deleted an annotation, audio playback will be stopped (fixes CSS leftover flashing icons etc).
        </p>
    </div>
    <div class="row">
    <h4 class='md-title'>27/4/2016 &mdash; 0.929</h4>
        <p class="md-body-1">Added details to session display on home page. Improved formatting. Session list moved to a reusable directive used on home page and deleted items.</p>
        <p class="md-body-1">Added deleted items view (accessible from nav bar). Sessions can be deleted which will move them to the deleted items view. Sessions can be restored back to the home page
        or all of the deleted items can be cleared.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>23/4/2016 &mdash; 0.928</h4>
        <p class="md-body-1">Time stretching (slow) implemented in respeaking/translation. Time stretching can be independently enabled/disabled for the source and secondary in the
            annotation UI (annotation settings, click on the speaker icon). Enabling time stretching is now a user setting so it is remembered. Default value is set to 80% playback speed.</p>
        <p class="md-body-1">All nav bar options are disabled if the user is logged out.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>23/4/2016 &mdash; 0.927</h4>
        <p class="md-body-1">Github link in report issue now works. </p>
        <p class="md-body-1">Experimental time stretching playback speed in the annotation UI (pitch stays the same). Needs to be enabled from settings. This changes wavesurfer to use MediaElement instead of WebAudio which
            seems to make region playback less accurate, e.g. playing a region will sometimes overshoot the actual region.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>23/4/2016 &mdash; 0.926</h4>
        <p class="md-body-1">Inserted missing 400-weight italic font definition. Tweaks to online help to match the new session layout. Tweaks to Chrome Web Store documentation,
            GitHub readme.md, refresh of project file explanation in readme.txt. Minor localisation on bug report view.</p>
        <p class="md-body-1">Beep sound changed to wav (reduces latency). Database upgrade bug fixed. Further tweaks to session page for responsive layout. Improved home page messages for
        new users, registration and so on.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>19/4/2016 &mdash; 0.925</h4>
        <p class="md-body-1">Removed a zoom restriction on wavesurfer on session view which had the result that long recordings would appear invisible but would otherwise play fine.
        The playback beep should no longer be recorded in respeaking and record new activities. Session placeholder image added.</p>
        <p class="md-body-1">Rework of the annotation list on the session view. Users may add an annotation directly to a 'track', e.g. respeaking or translation. Merged the previous respeaking/translation
            drop-down menus with the annotation list. Annotations show a short preview.</p>
        <p class="md-body-1">Playback supported from the annotation/track boxes, will also display current annotations for the playback span. Reorganised session view layout. The 'source only' entry remains
        regardless of whether audio annotations have been made. This allows creating of stand-alone audio annotations without needing to use the annotation UI 'split' method.</p>
        <p class="md-body-1">Language overrides for locales so that users may type more familiar names. Chinese and Korean for starters.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>16/4/2016 &mdash; 0.920</h4>
        <p class="md-body-1">The data wipe/reset buttons in the 'settings' page hidden behind the debug. A toast tells the user when debug is on/off when the click on the beta version logo.
            Improved message when joining a track when the user has data (doesn't say deleting the annotation). Annotation UI starts in first region automatically.
        <p class="md-body-1">The audio playback preference works correctly. A toast appears if the user tries to play audio after turning off both the source and secondary.
            Playing before the end of the last region would erroneously begin marking a region. We now allow the press and hold mode, but do not create a region.</p>
        <p class="md-body-1">
            Fixed issue where user could delete regions (with escape) for annotations that had joined a respeaking/translation track. This would orphan audio recordings. At the moment this triggers
            a toast with an overly long message. Regions beyond the availability of secondary audio may be deleted as normal.
            Fixed invalid seek to region on switching tracks where that track cursor was not in a valid region.</p>
        <p class="md-body-1">
            Error reporting for audio files. Aikuma will attempt to decode the audio through Web Audio API. If this fails the user is informed. Playback button enabled when importing a file.
            Export of WebVTT and SRT files is now done through Chrome file API when running as a Chrome Packaged App. This was necessary to open a file selector rather than saving in some unknown location.
        <p class="md-body-1">
            New data structure upgrade system. This is necessary for any changes to underlying data. The first use case is a move to record an string for the language selector in addition to the ISO code.
            How people choose to refer to their languages is not something we should enforce based on ISO codes. Language selector upgrade to new system.
        <p class="md-body-1">
            First steps to address performance issues. Underlying dependency versions were rolled up, such as Angular and Angular Material. Angular Translate filters have been moved to directives in key locations (more to do).
            Google Closure Compiler again enabled in whitespace mode, simple optimisations will need to wait until recorder.js is modified or replaced. Build uses CSS Clean. Culled alpha changes.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>10/4/2016 &mdash; 0.911</h4>
        <p class="md-body-1">Catch up Chinese localisation. Implemented online/offline detection. An offline icon will flash at the bottom of the navbar when offline. Activating speech recognition in the annotation engine while offline will trigger a pop up warning that this feature is disabled.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>9/4/2016 &mdash; 0.910</h4>
        <p class="md-body-1">Improvements to layout responsiveness. Session screen usable from very wide to 960 pixels width. Minimum width set. Person selector directive now has edit functionality by clicking on names. Can now take photos directly
            from a computer webcam or upload them via a new ng-webcam directive. Fixed broken names in person selector. Changed key for transcription to <kbd>\</kbd>  because <kbd>`</kbd> is apparently what some people use to type apostrophes. Fixed broken annotation remove.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>7/4/2016 &mdash; 0.909</h4>
        <p class="md-body-1">Synced up version numbers. Removed CSS minification which was causing multiple subtle issues. Removed up some old files. Use transparent version of icon for 32x32, added 48x48 icon.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>7/4/2016 &mdash; 0.908</h4>
        <p class="md-body-1">Fix to annotation UI not removing segments from the backend correctly. Added voice recognition to the annotation UI. Press the <kbd>`</kbd> key in an active annotation box and speak. The speaker/playback menu for the annotation has an option to set the recognition language for the given annotation.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>6/4/2016 &mdash; 0.907</h4>
        <p class="md-body-1">Fix to poor blocking behavior of language input selector for the translation activity. Translation is no longer impeded but confirming is. A tip informs the user that the language field is obligatory.
            Added home link to the nav bar. Reworked icons on respeak/translate and record new activities. Context sensitive cancel/delete button will be used widely, disk save icon replaced with confirm tick.
            Delete of respeaking, translation data implemented with confirmation dialog.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>6/4/2016 &mdash; 0.906</h4>
        <p class="md-body-1">Validation indicator for email input box. New playback of respeaking and translate on the session page, UI overhaul. Several errors fixed on new file recording and import file. Reworked UI. Added message on home page when there are no sessions. </p>
    </div>
    <div class="row">
        <h4 class='md-title'>5/4/2016 &mdash; 0.905</h4>
        <p class="md-body-1">Validation indicator for email input box. Metadata now properly always displays location and description, new style for metadata add.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>4/4/2016 &mdash; 0.904</h4>
        <p class="md-body-1">Add new user immediately takes user to the user editor to change their name and email. Extensive fix to annotation UI tracks, correctly only displays when a track has annotations. Some tweaks to project description and About. Fixed date picker style on session view.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>3/4/2016 &mdash; 0.903</h4>
        <p class="md-body-1">Record UI improvements: Title is no longer a chips selector which stopped save unless you pressed return. Uses improved language selector. Feedback beeps to indicator record start and stop. Respeaking UI: Fixed play record buttons not having CSS styles. Removed default OLAC discourse type. Changed add user fab icon to av:person_add. Removed old user selector directive. Altered several strings that said "add x" to just "x". SRT caption export implemented, caption save is now a menu allowing user to select format. Added bounds value to manifest so that a reasonably large window size should open on a platform that ignores the maximized state (OSX).
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>2/4/2016 &mdash; 0.901</h4>
        <p class="md-body-1">Change version scheme.  Several fixes: failed to close audio contexts, causing the 6-context limit to be reached. Fixed session view top line summary crash when working with a brand new file with no metadata.  </p>
    </div>
    <div class="row">
        <h4 class='md-title'>1/4/2016 &mdash; Beta 1</h4>
        <p class="md-body-1">Annotation UI has WebVTT export. Aikuma-NG can now do work! </p>
    </div>
</md-content>