<ng-topbar activity="{{'ACTIVITY_CHANGES' | translate}}"></ng-topbar>

<md-content class="md-padding" style="padding-bottom:30px">
    <div class="row">
        <h4 class='md-title'>16/4/2016 &mdash; 0.920</h4>
        <p class="md-body-1">The data wipe/reset buttons in the 'settings' page hidden behind the debug. A toast tells the user when debug is on/off when the click on the beta version logo.
            Improved message when joining a track when the user has data (doesn't say deleting the annotation). Annotation UI starts in first region automatically.
        <p class="md-body-1">The audio playback preference works correctly. A toast appears if the user tries to play audio after turning off both the source and secondary.
            Playing before the end of the last region would erroneously begin marking a region. We now allow the press and hold mode, but do not create a region.</p>
        <p class="md-body-1">
            Fixed issue where user could delete regions (with escape) for annotations that had joined a respeaking/translation track. This would orphan audio recordings. At the moment this triggers
            a toast with an overly long message. Regions beyond the availability of secondary audio may be deleted as normal.
            Fixed invalid seek to region on switching tracks where that track cursor was not in a valid region.</p>
        <p class="md-body-1">
            Error reporting for audio files. Aikuma will attempt to decode the audio through Web Audio API. If this fails the user is informed. Playback button enabled when importing a file.
            Export of WebVTT and SRT files is now done through Chrome file API when running as a Chrome Packaged App. This was necessary to open a file selector rather than saving in some unknown location.
        <p class="md-body-1">
            New data structure upgrade system. This is necessary for any changes to underlying data. The first use case is a move to record an string for the language selector in addition to the ISO code.
            How people choose to refer to their languages is not something we should enforce based on ISO codes. Language selector upgrade to new system.
        <p class="md-body-1">
            First steps to address performance issues. Underlying dependency versions were rolled up, such as Angular and Angular Material. Angular Translate filters have been moved to directives in key locations (more to do).
            Google Closure Compiler again enabled in whitespace mode, simple optimisations will need to wait until recorder.js is modified or replaced. Build uses CSS Clean. Culled alpha changes.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>10/4/2016 &mdash; 0.911</h4>
        <p class="md-body-1">Catch up Chinese localisation. Implemented online/offline detection. An offline icon will flash at the bottom of the navbar when offline. Activating speech recognition in the annotation engine while offline will trigger a pop up warning that this feature is disabled.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>9/4/2016 &mdash; 0.910</h4>
        <p class="md-body-1">Improvements to layout responsiveness. Session screen usable from very wide to 960 pixels width. Minimum width set. Person selector directive now has edit functionality by clicking on names. Can now take photos directly
            from a computer webcam or upload them via a new ng-webcam directive. Fixed broken names in person selector. Changed key for transcription to <kbd>\</kbd>  because <kbd>`</kbd> is apparently what some people use to type apostrophes. Fixed broken annotation remove.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>7/4/2016 &mdash; 0.909</h4>
        <p class="md-body-1">Synced up version numbers. Removed CSS minification which was causing multiple subtle issues. Removed up some old files. Use transparent version of icon for 32x32, added 48x48 icon.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>7/4/2016 &mdash; 0.908</h4>
        <p class="md-body-1">Fix to annotation UI not removing segments from the backend correctly. Added voice recognition to the annotation UI. Press the <kbd>`</kbd> key in an active annotation box and speak. The speaker/playback menu for the annotation has an option to set the recognition language for the given annotation.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>6/4/2016 &mdash; 0.907</h4>
        <p class="md-body-1">Fix to poor blocking behavior of language input selector for the translation activity. Translation is no longer impeded but confirming is. A tip informs the user that the language field is obligatory.
            Added home link to the nav bar. Reworked icons on respeak/translate and record new activities. Context sensitive cancel/delete button will be used widely, disk save icon replaced with confirm tick.
            Delete of respeaking, translation data implemented with confirmation dialog.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>6/4/2016 &mdash; 0.906</h4>
        <p class="md-body-1">Validation indicator for email input box. New playback of respeaking and translate on the session page, UI overhaul. Several errors fixed on new file recording and import file. Reworked UI. Added message on home page when there are no sessions. </p>
    </div>
    <div class="row">
        <h4 class='md-title'>5/4/2016 &mdash; 0.905</h4>
        <p class="md-body-1">Validation indicator for email input box. Metadata now properly always displays location and description, new style for metadata add.</p>
    </div>
    <div class="row">
        <h4 class='md-title'>4/4/2016 &mdash; 0.904</h4>
        <p class="md-body-1">Add new user immediately takes user to the user editor to change their name and email. Extensive fix to annotation UI tracks, correctly only displays when a track has annotations. Some tweaks to project description and About. Fixed date picker style on session view.
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>3/4/2016 &mdash; 0.903</h4>
        <p class="md-body-1">Record UI improvements: Title is no longer a chips selector which stopped save unless you pressed return. Uses improved language selector. Feedback beeps to indicator record start and stop. Respeaking UI: Fixed play record buttons not having CSS styles. Removed default OLAC discourse type. Changed add user fab icon to av:person_add. Removed old user selector directive. Altered several strings that said "add x" to just "x". SRT caption export implemented, caption save is now a menu allowing user to select format. Added bounds value to manifest so that a reasonably large window size should open on a platform that ignores the maximized state (OSX).
        </p>
    </div>
    <div class="row">
        <h4 class='md-title'>2/4/2016 &mdash; 0.901</h4>
        <p class="md-body-1">Change version scheme.  Several fixes: failed to close audio contexts, causing the 6-context limit to be reached. Fixed session view top line summary crash when working with a brand new file with no metadata.  </p>
    </div>
    <div class="row">
        <h4 class='md-title'>1/4/2016 &mdash; Beta 1</h4>
        <p class="md-body-1">Annotation UI has WebVTT export. Aikuma-NG can now do work! </p>
    </div>
</md-content>