<h3>New Comment</h3>

<p><b>Purpose</b>: Users see this page when they want to make a new commentary by recording or importing a file, or alternatively typing text. </p>

<p><b>Design influence</b>: ?</p>

<p><b>Navigation</b>: They get here from the project status page. Recording is a wizard that collects basic metadata and then returns to the project status page.</p>

<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding">

    <h3>Mock-up</h3>

            <md-button class="md-raised">
                <md-icon md-svg-icon="av:mic"></md-icon>
                Record comments
            </md-button>
            or
            <md-button class="md-raised">
            <md-icon md-svg-icon="editor:insert_comment"></md-icon>
            Type comments
        </md-button>

</md-content>
