<!--  Description Tab's Content  -->

<div layout="row">
    <!-- This Angular directive's attrs map to wavesurfer's options but requires underscores in front of capitalised letters -->
    <ng-wavesurfer flex layout-fill url="media/tea.mp3" wave-color="#3f51b5" progress-color="#33627c" height="120" min_Px_Per_Sec="150"></ng-wavesurfer>
</div>

<md-content flex layout-padding>
    <!-- This is displayed if we have regions to edit -->
    <div ng-show="ctrl.editable">


        <md-input-container>
            <md-select ng-model="ctrl.selectedTime" aria-label="Select time">
                <md-option ng-value="$index" ng-repeat="region in ctrl.regions">{{ ctrl.tstr(region.start) }} &mdash; {{ ctrl.tstr(region.end) }}</md-option>
            </md-select>
        </md-input-container>
        <md-whiteframe layout="column" class="md-whiteframe-1dp md-inline-form">
            <div flex>
                <md-icon ng-disabled="ctrl.cur==0" md-svg-icon="nav:arrow_drop_up" style="width:42px;height:42px;"></md-icon>
                         <span ng-show="ctrl.cur!=0">
                            {{ ctrl.regions[ctrl.cur-1].start }} &mdash; {{ ctrl.regions[ctrl.cur-1].end }}
                         </span>
            </div>
            <md-divider></md-divider>
            <div layout="row">
                <div flex="15" layout="column" layout-align="space-between">
                    <div>Start: {{ ctrl.tstr(ctrl.regions[ctrl.cur].start )}}</div>
                    <div><md-button ng-class="{'md-primary': ctrl.repeat}" ng-click="ctrl.toggleactive()"><md-icon md-svg-icon="av:repeat" style="width:32px;height:32px;"></md-icon></md-button></div>
                    <div>End: {{ ctrl.tstr(ctrl.regions[ctrl.cur].end )}}</div>
                </div>
                <div flex="85" layout="column">
                    <div ng-repeat="anno in ctrl.annolist" layout="row">
                        <md-input-container flex  class="md-block" style="height:20px">
                            <label>{{anno.type}} ({{anno.lang}}):</label>
                            <input ng-disabled="!ctrl.active[$index]" ng-model="ctrl.regions[ctrl.cur].anno[$index]" ng-keyup="$event.keyCode == 13 && ctrl.dataEnter($index)">
                        </md-input-container>
                        <md-switch ng-model="ctrl.active[$index]" aria-label="Enable" ng-true-value="1" ng-false-value="0" class="md-warn"></md-switch>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex>
                <md-icon ng-disabled="ctrl.cur==ctrl.regions.length-2" md-svg-icon="nav:arrow_drop_down" style="width:42px;height:42px;"></md-icon>
                        <span ng-show="ctrl.cur!=ctrl.regions.length-2">
                            {{ ctrl.tstr(ctrl.regions[ctrl.cur+1].start) }} &mdash; {{ ctrl.tstr(ctrl.regions[ctrl.cur+1].end) }}
                        </span>
            </div>
            <div flex>
                        <span>
                            <md-button class="md-raised" ng-click="ctrl.previous()" ng-disabled="ctrl.cur==0"><md-icon md-svg-icon="av:skip_previous"></md-icon> Previous</md-button>
                            <md-button class="md-raised" ng-click="ctrl.next()" ng-disabled="ctrl.cur==ctrl.regions.length-2"><md-icon md-svg-icon="av:skip_next"></md-icon>Next</md-button>
                        </span>
            </div>
        </md-whiteframe>



    </div>
    <!-- This is displayed if we have no regions to edit -->
    <div ng-show="!ctrl.editable">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">No annotations yet!</h2>
            </div>
        </md-toolbar>
        <md-button class="md-raised" ng-click="ctrl.addanno($event)">
            <md-icon md-svg-icon="content:add_circle_outline"></md-icon>
            New annotation
        </md-button>
    </div>

</md-content>
