<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new annotation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-svg-icon="nav:close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:700px;min-height:300px;">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Annotations">
             <div layout="row" ng-repeat="choice in ctrl.choices" layout-align="start start">

                  <md-autocomplete flex
                     md-input-name="choice.languageField"
                     md-selected-item="choice.selectedItem"
                     md-search-text="choice.searchText"
                     md-selected-item-change="ctrl.selectedItemChange(item,$index)"
                     md-items="item in ctrl.querySearch(choice.searchText)"
                     md-item-text="item.display"
                     placeholder="What language?"
                     md-floating-label="Language"
                     md-delay="200"
                     md-min-length="2"
                     >
                     <md-item-template>
                        <!-- <span md-highlight-text="choice.searchText" md-highlight-flags="^i">{{item.display}}</span> -->
                        <span md-highlight-text="choice.searchText" md-highlight-flags="^i">{{item.display}} ({{item.id}})</span>
                     </md-item-template>
                  </md-autocomplete>

                  <md-select required flex ng-model="choice.type"  md-floating-label="Language" placeholder="Type">
                     <md-option ng-repeat="type in ctrl.types" value="{{type.name}}">
                        {{type.name}}
                     </md-option>
                  </md-select>
            </div>
            
            <md-button ng-click="ctrl.addNewChoice()">
               <md-icon class="accent" md-svg-icon="content:add_circle_outline"></md-icon>
               Add
            </md-button>
            <md-divider></md-divider>
            <md-list flex>
               <md-subheader class="md-no-sticky">Options</md-subheader>
               <md-list-item ng-repeat="option in ctrl.options">
                  <p> {{ option.name }} </p>
               <md-checkbox class="md-secondary" ng-model="option.selected"  value="{{option.val}}"></md-checkbox>
               </md-list-item>
            </md-list>

            
        </md-tab>
        <md-tab label="People">
          <md-content class="md-padding">
            <p>This is where we select people.</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="ctrl.makeAnno()" ng-disabled="!ctrl.choices[0].searchText || !ctrl.choices[0].type">Create annotation</md-button>
      <md-button ng-click="ctrl.cancel()" style="margin-right:20px;" > Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
