<!-- Main template for the edit view. Three main sections: Menubar, a selection of horizontal tabs, and a footer -->

<md-content>
    <!-- This Angular directive's attrs map to wavesurfer's options but requires underscores in front of capitalised letters -->
    <ng-anno-tab flex></ng-anno-tab>
</md-content>

<div layout="column" layout-align="space-between stretch" style="border-color:#f22">
    <md-content style="background-color:#ddd">
        <div layout="row" layout-align="space-between" style="padding-right: 8px;">
            <input flex id='fileinput' type='file' file-model='file' accept="audio/*" />
            <span class="md-body-2"><i>Annoweb Alpha 9</i></span>
        </div>
    </md-content>
</div>
