<ng-wavesurfer flex layout-fill url="media/tea.mp3" wave-color="#3f51b5" progress-color="#33627c" height="120" min_Px_Per_Sec="150"></ng-wavesurfer>

<ng-simple-annotation ng-if="atCtrl.editable && atCtrl.mode === 'continuous'" flex layout="row"></ng-simple-annotation>

<!-- This is displayed if we have no regions to edit -->
<div ng-if="!atCtrl.editable">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">No annotations yet!</h2>
        </div>
    </md-toolbar>
    <md-button class="md-raised" ng-click="atCtrl.addanno($event)">
        <md-icon md-svg-icon="content:add_circle_outline"></md-icon>
        New annotation
    </md-button>
</div>

