<h3>Export / Save</h3>

<p><b>Purpose</b>: Users may save their annotations here. ELAN, Srt captions etc. Metadata as csv? </p>

<p><b>Design influence</b>: ?</p>

<p><b>Navigation</b>: They get here from the project status page. Returns to the project status page.</p>

<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding">

    <h3>Mock-up</h3>

    <p>Tips on Export.</p>

    <p>Select content to export.</p>
    <p>Select type of export.</p>

</md-content>
