<ng-topbar activity="{{'ACTIVITY_HELP' | translate}}"></ng-topbar>
<md-content class="md-padding" style="padding-bottom:30px">
        <h3 class="md-headline">Using Aikuma-<i>NG</i></h3>

    <p class="md-body-2">Were working on better documentation but for now, you can get started as follows:</p>
    <ol>
        <li class="md-body-1">If you haven't added a user, do so. An anonymous user will be added, click profile edit on the top right to change name if you wish. Click the user to log in.</li>
        <li class="md-body-1">Now press the session button (+) and select the microphone to record (or click the button below). Alternatively select the folder icon open a recording you have already made.</li>
        <li class="md-body-1">You will now see the session overview page. You can edit many details here, add people and make up your own 'tags' to describe the recording.</li>
        <li class="md-body-1">You can choose to do a spoken translation or even a careful 'respeak' to help someone annotate (transcribe) later by clicking on the record respeaking and translation buttons underneath the waveform.</li>
        <li class="md-body-1">To create a text annotation, click the add annotation button <md-icon md-svg-icon="mdi:playlist-plus"></md-icon>. If you have recorded respeaking or translation, you can click on <md-icon md-svg-icon="mdi:playlist-plus"></md-icon> for one of those. Otherwise you will only be able to add for source only.
            If you add a text annotation for a respeaking/translation track, you will be able to listen to both the source and the respeaking/translation.
        </li>
        <li class="md-body-1">Further help is available on the annotation view page.</li>
    </ol>

    <A href="#new">
        <md-button class="md-raised">
            <md-icon md-svg-icon="content:add_circle_outline"></md-icon>
            {{"NAV_RECORD" | translate}}
        </md-button>
    </a>

    </md-content>