
<md-toolbar>
    <div class="md-toolbar-tools">
        <span class="md-headline"><A HREF="#/">Home</A> &nbsp;&gt;&nbsp Help</span>
    </div>
</md-toolbar>
<md-content class="md-padding">

    <h3 class="md-headline">Using Aikuma is easy!</h3>
<ol>
    <li class="md-body-1">To start just select new project. Give your project a name and optionally fill in some details such as language and speakers but you can come back and edit these later.</li>
    <li class="md-body-1">Now you can can record right now, or you can import a recording you made earlier.</li>
    <li class="md-body-1">On the project screen you can decide what to do from here, e.g. make or import another recording such as a translation, or get to annotating the recording.</li>
</ol>

<p class="md-body-1">Shall we begin?</p>

<A href="#new">
    <md-button class="md-raised">
        <md-icon md-svg-icon="content:add_circle_outline"></md-icon>
        Create new
    </md-button>
</a>

    </md-content>