<ng-topbar></ng-topbar>

<md-content class="md-padding" style="padding-bottom:30px">
    <div ng-if="hCtrl.getLoginStatus()">
    <p class="md-headline inset">{{'WELCOME' | translate}} <i>{{hCtrl.currentUserName()}}.</i></p>
        <span ng-if="hCtrl.sessionList.length === 0" class="md-title inset">{{"HOME_NOSESSION" | translate }}</span>
        <md-list ng-if="hCtrl.sessionList.length > 0">
            <md-list-item class="md-3-line" ng-repeat="session in hCtrl.sessionList" ng-click="hCtrl.goStatus($index)">
                    <div ng-if="hCtrl.currentUser.files[session.imageIds[0]].url" ng-style="{ 'background-image': 'url(' + hCtrl.currentUser.files[session.imageIds[0]].url +')' }" class="roundedthumbnails"> </div>
                    <div ng-if="!hCtrl.currentUser.files[session.imageIds[0]].url" ng-style="{ 'background-image': 'url(img/placeholder.png)' }" class="roundedthumbnails"> </div>
                <div class="md-list-item-text" layout="column">
                    <span class="md-title">{{ session.names[0] }}</span>
                    <span class="md-body-2">{{"HOME_LASTMODIFIED" | translate}}: <i>{{ session.lastModified | date:'yyyy/MM/dd &mdash; HH:mm' }}</i></span>
                    <p>
                        <span ng-repeat="meta in session.details" >
                            <md-icon md-svg-icon="{{meta.icon}}" style="width:12px;height:12px"></md-icon>
                            <span class="md-body-2">{{meta.name | translate}}: </span>
                            <span ng-if="meta.data === ''" class="md-body-1"><i>{{"NONE" | translate}}.</i> </span>
                            <span ng-if="meta.data !== ''" class="md-body-1">{{meta.data}}. </span>
                        </span>
                    </p>
<!--                    <p>
                        <span ng-repeat="anno in hCtrl.annos[session._ID]">
                            <span class="md-body-1"><b>{{anno.type | translate}} </b></span>
                            <span class="md-body-1"><b>({{anno.lang}}):</b> </span>
                            <span ng-if="anno.text === ''" class="md-body-1"><i>{{"NONE" | translate}}.</i> </span>
                            <span ng-if="anno.text !== ''" class="md-body-1">{{anno.text}}. </span>
                        </span>
                    </p>-->
                </div>
            </md-list-item>
        </md-list>
    </div>

    <md-fab-speed-dial ng-if="hCtrl.getLoginStatus()" md-open="hCtrl.speedDial" md-direction="right"
                       class="md-scale" style="margin-left:20px;margin-top:10px;" >
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-tooltip md-direction="bottom" class="md-body-1">{{"SESSION_ADD" | translate}}</md-tooltip>
                <md-icon md-svg-icon="content:add"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Record new" class="md-fab md-raised md-mini" ng-click="hCtrl.recordNew()">
                <md-tooltip md-direction="bottom" class="md-body-1">{{"NAV_RECORD" | translate}}</md-tooltip>
                <md-icon md-svg-icon="av:mic" aria-label="Record new"></md-icon>
            </md-button>
            <label aria-label="Load sound file" class="md-fab md-raised md-mini md-button" for="file-input">
                <md-tooltip md-direction="bottom" class="md-body-1">{{"NAV_OPENF" | translate}}</md-tooltip>
                <md-icon md-svg-icon="file:folder_open" aria-label="Load sound file"></md-icon>
            </label>
        </md-fab-actions>
    </md-fab-speed-dial>


        <div ng-if="!hCtrl.getLoginStatus()" layout="column">
            <p class="md-headline inset"><span>{{"HOME_WELCOME" | translate}}<i>NG</i>!</span></p>
            <span ng-if="hCtrl.userList.length" class="md-title inset">{{"HOME_LOGREQ" | translate}}:</span>
            <span ng-if="!hCtrl.userList.length" class="md-title inset">{{"HOME_NOUSEREQ" | translate}}:</span>

            <md-list ng-if="hCtrl.userList.length">
                <md-list-item class="md-1-line", ng-repeat="user in hCtrl.userList" ng-click="hCtrl.login($index)">
                    <div class="md-list-item-text" layout="column">
                        <span class="md-title animated bounceInRight">{{ user.names[0] }}</span>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>

            <md-button class="md-fab" aria-label="Create new user" style="margin-left:13px" ng-click="hCtrl.createNewUser()">
                <md-tooltip md-direction="right" class="md-body-1">{{"HOME_CREATEUSER" | translate}}</md-tooltip>
                <md-icon md-svg-icon="social:person_add"></md-icon>
            </md-button>
        </div>

</md-content>

