<h3>Log-in view</h3>

<p><b>Purpose</b>: Users may optionally log-in. This allows them to save data. </p>

<p><b>Design influence</b>: ?</p>

<p><b>Navigation</b>: From the left-hand nav. </p>

<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding" ng-controller="loginController as loginCtrl">

    <h3>Mock-up</h3>

    <div ng-show="loginCtrl.authData">
        <p>Hello, {{ loginCtrl.authData.facebook.displayName }}</p>
        <button ng-click="loginCtrl.auth.$unauth()">Logout</button>
    </div>
    <div ng-hide="loginCtrl.authData">
        <p>You are currently anonymous. If you log-in then your work will be saved. You need an internet connection to log-in but you may work offline after that and your work will be saved when you next go onlinet.</p>
        <button ng-click="loginCtrl.auth.$authWithOAuthPopup('facebook')">Login With Facebook</button>
    </div>

</md-content>
