<h3>Edit Metadata</h3>

<p><b>Purpose</b>: Users see this view when they want to edit the metadata for a primary recording or a child item. </p>

<p><b>Design influence</b>: ?</p>

<p><b>Navigation</b>: They get here from the project status page. Recording is a wizard that collects basic metadata. Returns to the project status page.</p>

<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding">

    <h3>Mock-up</h3>

    <p>Tips on Metadata.</p>
    <p>Fancy pants Metadata editor goes here.</p>

</md-content>

<p>Notes: We make a distinction between full metadata and minimal metadata. This is the full metadata editor. We systematically collect minimal metadata when initiating any activity to add a main recording or a child.
</p>
