<h3>Settings / Preferences</h3>

<p><b>Purpose</b>: To manage preferences for the user across projects. Perhaps to handle a common list of users and languages.</p>

<p><b>Design influence</b>: ?</p>

<p><b>Navigation</b>: They get here from the home or side nav. Does not return anywhere.</p>

<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding">

    <h3>Mock-up</h3>

    <ul>
        <li>Your Aikumahub account</li>
        <li>Your languages</li>
        <li>Your people</li>
        <li>Your places</li>
        <li>Your tags</li>
    </ul>

</md-content>
