<ng-topbar activity="{{'NAV_SETTINGS' | translate}}"></ng-topbar>
<md-content flex class="md-padding" id="popupContainer" style="padding-bottom:30px">
    
    <md-button ng-disabled="!seCtrl.dataPrepared" class="md-raised" ng-click="seCtrl.export()" download="{{seCtrl.backupName}}" href="{{seCtrl.dataUri}}">
        <md-icon md-svg-icon="file:file_download"></md-icon>
        {{"BACKUP_DOWN" | translate}}
    </md-button>
    
    <label class="md-button md-raised" for="zip-input">
        <md-icon md-svg-icon="content:add_circle_outline"></md-icon>
        {{"BACKUP_UP" | translate}}
    </label>
    <input id="zip-input" type="file" file-model="zipFile" style="display:none;">
    
    <label ng-if="seCtrl.debug()" class="md-button md-raised" ng-click="seCtrl.loadMockData()">
        <md-icon md-svg-icon="content:add_circle_outline"></md-icon>
        {{"DEBUG_MOCK" | translate}}
    </label>

    <label ng-if="seCtrl.debug()" class="md-button md-raised" ng-click="seCtrl.wipeData()">
        <md-icon md-svg-icon="action:delete"></md-icon>
        {{"DEBUG_WIPE" | translate}}
    </label>
    
    <label ng-if="seCtrl.debug()" class="md-button md-raised" ng-click="seCtrl.resetDb()">
        <md-icon md-svg-icon="action:delete"></md-icon>
        {{"DEBUG_RESETDB" | translate}}
    </label>

    <div flex layout="row inset" layout-wrap>
        <md-switch flex="25" aria-label="Enable source playback timestretching" ng-model="seCtrl.preferences.timeStretchSrc" ng-change="seCtrl.saveSetting()">
            <span class="md-body-2" translate>SETTINGS_TIMESTRETCH</span>
        </md-switch>
        <md-switch flex="25" aria-label="Enable debug mode" ng-model="seCtrl.preferences.debugMode" ng-change="seCtrl.saveSetting()">
            <span class="md-body-2" translate>DEBUG_SWITCH</span>
        </md-switch>
        <md-switch flex="25" aria-label="Enable peak caching" ng-model="seCtrl.cachePeak" ng-change="seCtrl.saveOption()">
            <span class="md-body-2">Enable peak caching</span>
        </md-switch>
    </div>

    <div>
    <ul ng-if="seCtrl.debug()" >
        <li ng-repeat="type in seCtrl.keys">
            <span> {{type}} </span>
            <ul>
                <li ng-repeat="data in seCtrl.db[type]" ng-click="seCtrl.showElem(data._ID)">
                    <span>{{data.names}} ( {{data._ID}} : {{data.type}} ) </span>
                    <pre ng-show="seCtrl.isActive[data._ID]"> {{data | json: 2}} </pre>
                </li>
            </ul>
        </li>
    </ul>
    </div>
</md-content>