<ng-topbar session="{{sCtrl.sessionData.names[0]}}"></ng-topbar>

<md-content class="md-padding" style="padding-bottom:30px">
    <div flex layout="column" layout-gt-md="row" layout="space-between">
        <div flex>
            <div layout-gt-md="row" layout="column" flex layout-align="space-between">
            <div layout="row" layout-align="start center">
                <span class="md-body-2"><md-datepicker class="md-body-2" ng-model="sCtrl.myDate" md-placeholder="{{'DATE' | translate}}" ng-change="sCtrl.saveDate()" ></md-datepicker></span>
                <span class="md-body-2" ng-repeat="meta in sCtrl.TopLineMetadata" >
                    <md-icon disabled class="statusicon" md-svg-icon="{{meta.icon}}"></md-icon><span translate>{{meta.text}}</span>
                </span>
                <span class="md-body-2">
                    <md-icon disabled class="statusicon" md-svg-icon="action:schedule"></md-icon>{{sCtrl.dur}} <span translate>SECONDS</span>.
                    <md-icon disabled class="statusicon" md-svg-icon="communication:comment"></md-icon>{{sCtrl.annotations.length}} <span translate>ANNOTATIONS</span>.
                </span>
            </div>
            <div layout="row" layout-align="start start" layout-wrap>
                    <div ng-repeat="type in sCtrl.olactypes">
                        <img width="32" height="32" ng-click="sCtrl.clickOlac(type.name)" ng-class="(sCtrl.olac === type.name) ? 'imageunderlined' : 'imagenotunderlined'" ng-src="img/icons/discourse-type-icons/32px/{{sCtrl.olac === type.name ? 'clicked' : 'unclick'}}/{{type.name}}.png" style="margin-top:8px;padding-left:8px;padding-right:8px;"/>
                        <md-tooltip md-direction="below">
                            <span translate class="md-body-2">{{type.trans}}</span>
                        </md-tooltip>
                    </div>
                    <md-button class="md-icon-button" aria-label="Use translation" ng-click="sCtrl.OLAChelp($event)">
                        <md-tooltip>
                            <span translate class="md-body-2">OLAC_HELP</span>
                        </md-tooltip>
                        <md-icon class="imgsvgicon" md-svg-icon="action:help"></md-icon>
                    </md-button>
            </div>
            </div>

            <ng-player source="{{sCtrl.audioSourceUrl}}" wave-color="#4FC3F7" progress-color="#33627c" height="120" min_Px_Per_Sec="150" wavesurfer="sCtrl.wavesurfer"></ng-player>
            <ng-language-selector flex lang-id-name-map="sCtrl.langIdNameMap" lang-id-list="sCtrl.srcLangIds" on-change="sCtrl.saveLangs(langIds)"></ng-language-selector>
            <ng-person-selector flex role="speakerIds" user-obj="sCtrl.userObj" session-obj="sCtrl.sessionObj"></ng-person-selector>
            <ng-tag-selector user-obj="sCtrl.userObj" session-obj="sCtrl.sessionObj"></ng-tag-selector>
            <!--Respeaking button or menu-->
            <div layout="row" layout-align="start center">
                <md-button flex="none" class="md-icon-button" aria-label="Record">
                    <md-icon style="width:30px;height:30px" md-svg-icon="av:mic"></md-icon>
                </md-button>

                <div flex layout="column">
                    <md-button class="md-raised" ng-if="!sCtrl.hasRespeaking" aria-label="Record respeaking" class="" ng-click="sCtrl.newRespeaking()" >
                        <md-icon md-svg-icon="mdi:repeat"></md-icon>
                        <span translate>RECORD_RESPEAK</span>
                    </md-button>
                    <md-menu flex ng-if="sCtrl.hasRespeaking" layout="column">
                        <md-button class="md-raised" aria-label="Respeaking menu" ng-click="sCtrl.openRspMenu($mdOpenMenu, $event)" ng-class="{'animated flash infinite': sCtrl.pcss.respeak}">
                            <md-icon md-menu-origin md-svg-icon="mdi:repeat"></md-icon>
                            <span translate>RESPEAKING</span> ({{sCtrl.numRespeaking}})
                        </md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button ng-click="sCtrl.newRespeaking()">
                                    <md-icon md-menu-align-target md-svg-icon="av:mic"></md-icon>
                                    <span translate>RECORD_NRESPEAK</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-repeat="respk in sCtrl.respeakings">
                                <md-button ng-click="sCtrl.editRespeaking($index)">
                                    <md-icon md-menu-align-target md-svg-icon="mdi:repeat"></md-icon>
                                    <span translate>EDIT_RESPEAK</span>&nbsp;<span>{{$index+1}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <!--Translation button or menu-->
                <div flex layout="column">
                    <md-button class="md-raised" ng-if="!sCtrl.hasTranslation" aria-label="Record translation" ng-click="sCtrl.newTranslation()" >
                        <md-icon md-svg-icon="action:translate"></md-icon>
                        <span translate>RECORD_TRANS</span>
                    </md-button>
                    <md-menu ng-if="sCtrl.hasTranslation" layout="column">
                        <md-button class="md-raised" aria-label="Translation menu" ng-click="sCtrl.openTrnMenu($mdOpenMenu, $event)" ng-class="{'animated flash infinite': sCtrl.pcss.translate}">
                            <md-icon md-menu-origin md-svg-icon="action:translate"></md-icon>
                            <span translate>ANNO_TRANS</span><span> ({{sCtrl.numTranslation}})</span>
                        </md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button ng-click="sCtrl.newTranslation()">
                                    <md-icon md-menu-align-target md-svg-icon="av:mic"></md-icon>
                                    <span translate>RECORD_NTRANS</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-repeat="trans in sCtrl.translations">
                                <md-button ng-click="sCtrl.editTranslation($index)">
                                    <md-icon md-menu-align-target md-svg-icon="action:translate"></md-icon>
                                    <span translate>EDIT_TRANS</span>&nbsp;<span>{{$index+1}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>

        </div>
        <md-card>
            <md-icon ng-if="!sCtrl.hasImage()" md-svg-icon="image:image" class="nobigassroundedthumbnail"></md-icon>
            <div ng-if="sCtrl.hasImage()" ng-style="{ 'background-image': 'url(' + sCtrl.getImage() +')' }" class="bigassroundedthumbnail"> </div>
            <md-card-actions>
                <div layout="row" layout-align="space-between center">
                    <label class="md-button" aria-label="Upload new image" for="image-input">
                        <md-icon md-svg-icon="file:file_upload" class="imgsvgicon"></md-icon>
                        <span class="md-body-2" translate>UPLOAD</span>
                    </label>
                    <label class="md-button" aria-label="Delete image" ng-click="sCtrl.deleteImage()">
                        <md-icon md-svg-icon="action:delete" class="imgsvgicon"></md-icon>
                        <span class="md-body-2" translate>META_DEL</span>
                    </label>
                </div>
                <div layout="row" layout-align="space-between center">
                    <md-button aria-label="Previous image" ng-disabled="!sCtrl.hasPreviousImage()" ng-click="sCtrl.prevImage()">
                        <md-icon  md-svg-icon="av:skip_previous"></md-icon>
                    </md-button>
                    <div ng-if="!sCtrl.ImageCount" class="md-body-2"> - / - </div>
                    <div ng-if="sCtrl.ImageCount" class="md-body-2"> {{sCtrl.currentImageIdx}} / {{sCtrl.ImageCount}} </div>
                    <md-button aria-label="Next image" ng-disabled="!sCtrl.hasNextImage()" ng-click="sCtrl.nextImage()">
                        <md-icon md-svg-icon="av:skip_next" ></md-icon>
                    </md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>



    <ng-anno-list flex secondary-list="sCtrl.secondaryList" session-obj="sCtrl.sessionObj" user-obj="sCtrl.userObj"
                  lang-id-name-map="sCtrl.langIdNameMap" anno-obj-list="sCtrl.annoObjList" wavesurfer="sCtrl.wavesurfer"></ng-anno-list>

    <!--     <ng-annotations flex session-id="{{sCtrl.sessionId}}" lang-id-name-map="sCtrl.langIdNameMap" annotation-list="sCtrl.annotations"></ng-annotations>-->


    <ng-metadata session-obj="sCtrl.sessionObj"></ng-metadata>

    <input id="image-input" type="file" file-model="imageFile" accept="image/*" style="display:none;" >

</md-content>
