<ng-topbar session="{{sCtrl.sessionData.names[0]}}"></ng-topbar>

<md-content class="md-padding">
    <div flex layout="row" layout="space-between">
        <div flex>
            <div layout="row" layout-align="start end">
                <span class="md-body-2"><md-datepicker ng-model="sCtrl.myDate" md-placeholder="{{'DATE' | translate}}"></md-datepicker></span>
                <span class="md-body-2" ng-repeat="meta in sCtrl.TopLineMetadata">
                    <md-icon disabled class="statusicon" md-svg-icon="{{meta.icon}}"></md-icon>{{meta.text}}</span>
                </span>
                <span class="md-body-2"><md-icon disabled class="statusicon" md-svg-icon="action:schedule"></md-icon>{{sCtrl.dur}} seconds</span>
                <span class="md-body-2"><md-icon disabled class="statusicon" md-svg-icon="communication:comment"></md-icon>{{sCtrl.annotations.length}} annotations</span>
                <span class="md-body-2"><md-icon disabled class="statusicon" md-svg-icon="action:visibility_off"></md-icon>Private.</span>
            </div>

            <section class="inset">
                <div layout="row" layout-align="start start">
                    <div ng-repeat="type in sCtrl.olactypes">
                        <img width="32" height="32" ng-click="sCtrl.clickOlac(type.name)" ng-class="(sCtrl.olac === type.name) ? 'imageunderlined' : 'imagenotunderlined'" ng-src="img/icons/discourse-type-icons/32px/{{sCtrl.olac === type.name ? 'clicked' : 'unclick'}}/{{type.name}}.png" style="margin-top:8px;padding-left:8px;padding-right:8px;"/>
                        <md-tooltip md-direction="below" class="md-body-1">
                            {{type.trans | translate}}
                        </md-tooltip>
                    </div>
                    <ng-language-selector lang-id-name-map="sCtrl.langIdNameMap" lang-id-list="sCtrl.srcLangIds" on-change="sCtrl.saveLangs(langIds)" flex style="margin-left:8px;"></ng-language-selector>
                </div>
            </section>
            
            <ng-player source="{{sCtrl.audioSourceUrl}}" wave-color="#4FC3F7" progress-color="#33627c" height="120" min_Px_Per_Sec="150"></ng-player>

            <!--Respeaking button or menu-->
            <section layout="row" layout-align="start center">
            <div>
                <md-icon md-svg-src="img/icons/technology.svg" style="width:32px;height:32px;margin-left:8px;" aria-label="Recordings"></md-icon>
            </div>

            <md-button ng-if="!sCtrl.hasRespeaking" aria-label="Record respeaking" class="" ng-click="sCtrl.newRespeaking()" >
                <md-icon md-svg-icon="av:mic"></md-icon>
                {{"RECORD_RESPEAK" | translate}}
            </md-button>
            <md-menu ng-if="sCtrl.hasRespeaking">
                <md-button aria-label="Respeaking menu" ng-click="sCtrl.openRspMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin md-svg-icon="nav:refresh"></md-icon>
                    <span>{{"RESPEAKING" | translate}} ({{sCtrl.numRespeaking}})</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item  ng-repeat="respk in sCtrl.respeakings ">
                        <md-button ng-click="sCtrl.editRespeaking($index)">
                            <md-icon md-menu-align-target md-svg-icon="editor:mode_edit"></md-icon>
                            <span class="md-body-2">{{"EDIT_RESPEAK" | translate}} <i>{{respk.source.created | date:'dd/MM/yyyy'}}</i></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sCtrl.newRespeaking()">
                            <md-icon md-menu-align-target md-svg-icon="av:mic"></md-icon>
                            <span class="md-body-2">{{"RECORD_NRESPEAK" | translate}}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <!--Translation button or menu-->
            <md-button ng-if="!sCtrl.hasTranslation" aria-label="Record translation" ng-click="sCtrl.newTranslation()" >
                <md-icon md-svg-icon="av:mic"></md-icon>
                {{"RECORD_TRANS" | translate}}
            </md-button>
            <md-menu ng-if="sCtrl.hasTranslation">
                <md-button aria-label="Translation menu" ng-click="sCtrl.openTrnMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin md-svg-icon="action:translate"></md-icon>
                    <span>{{"ANNO_TRANS" | translate}} ({{sCtrl.numTranslation}})</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="trans in sCtrl.translations">
                        <md-button ng-click="sCtrl.editTranslation($index)">
                            <md-icon md-menu-align-target md-svg-icon="editor:mode_edit"></md-icon>
                            <span class="md-body-2">{{"EDIT_TRANS" | translate}} <i>{{trans.source.created | date:'dd/MM/yyyy'}}</i></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sCtrl.newTranslation()">
                            <md-icon md-menu-align-target md-svg-icon="av:mic"></md-icon>
                            <span class="md-body-2">{{"RECORD_NTRANS" | translate}}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            </section >

        </div>



        <md-card>
            <md-icon ng-if="!sCtrl.hasImage()" md-svg-icon="image:image" style="width:160px;height:160px;"></md-icon>
            <div ng-if="sCtrl.hasImage()" ng-style="{ 'background-image': 'url(' + sCtrl.getImage() +')' }" class="bigassroundedthumbnail"> </div>

            <md-card-actions layout="row" layout-align="end center">
                <label class="md-button" aria-label="Upload new image" for="image-input">
                    <md-icon md-svg-icon="file:file_upload"></md-icon><span class="md-body-2">{{"UPLOAD" | translate}}</span>
                </label>
                <md-button aria-label="Previous image" ng-disabled="!sCtrl.hasPreviousImage()" ng-click="sCtrl.prevImage()">
                    <md-icon  md-svg-icon="av:skip_previous"></md-icon>
                </md-button>
                <div ng-if="!sCtrl.ImageCount" class="md-body-2"> - / - </div>
                <div ng-if="sCtrl.ImageCount" class="md-body-2"> {{sCtrl.currentImageIdx}} / {{sCtrl.ImageCount}} </div>
                <md-button aria-label="Next image" ng-disabled="!sCtrl.hasNextImage()" ng-click="sCtrl.nextImage()">
                    <md-icon md-svg-icon="av:skip_next" ></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>

    </div>
    <ng-person-selector role="speakerIds" user-obj="sCtrl.userObj" session-obj="sCtrl.sessionObj"></ng-person-selector>

    <p></p>
    <ng-tag-selector user-obj="sCtrl.userObj" session-obj="sCtrl.sessionObj"></ng-tag-selector>

    <ng-metadata session-obj="sCtrl.sessionObj"></ng-metadata>
    <p></p>

    <!--<ng-annotation-list secondary-list="sCtrl.secondaryList" lang-name-list="sCtrl.langNameList"></ng-annotation-list>
    -->
    <ng-annotations session-id="{{sCtrl.sessionId}}" lang-id-name-map="sCtrl.langIdNameMap" annotation-list="sCtrl.annotations"></ng-annotations>
 
    <input id="image-input" type="file" file-model="imageFile" accept="image/*" style="display:none;" >

</md-content>
