<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding">

    <h3>{{sCtrl.projectData.name}}</h3>

    <md-list>

        <md-list-item class="md-3-line">
            <md-icon disabled style="width:32px;height:32px;" md-svg-icon="image:image" class="md-avatar-icon" ></md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>Original recording</h3>
                <h4>Recording date: <i>{{ primary.lastchanged }}</i></h4>
                <p>{{ sCtrl.primaryDesc }}</p>
            </div>
        </md-list-item>

        <md-list-item class="md-3-line" ng-repeat="file in sCtrl.projectData.files">
            <md-icon disabled style="width:32px;height:32px;" md-svg-icon="{{file.icon}}" class="md-avatar-icon" ></md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>{{file.type}}</h3>
                <h4>Blah blah</h4>
                <p>Status stuff</p>
            </div>
        </md-list-item>
    </md-list>

</md-content>

<A ui-sref="export"><md-button class="md-raised">
    <md-icon md-svg-icon="content:save"></md-icon>
    Save / Export
</md-button>
</A>

<A ui-sref="share"><md-button class="md-raised">
    <md-icon md-svg-icon="social:share"></md-icon>
    Share
</md-button>
</A>
