 <md-content flex>
   <md-tabs md-dynamic-height md-selected="data.selectedIndex" style="max-height: 400px;overflow-y:auto;" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <md-tab id="tab1">
         <md-tab-label>Annotation</md-tab-label>
         <md-tab-body>
            <md-content>
               <annotation></annotation>
            </md-content>
         </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
         <md-tab-label>Metadata</md-tab-label>
         <md-tab-body>
            <md-content>
               <metadata></metadata>
            </md-content>
         </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
         <md-tab-label>Status</md-tab-label>
         <md-tab-body>
            <md-content>
               <status></status>
            </md-content>
         </md-tab-body>
      </md-tab>
      <md-tab id="tab4">
         <md-tab-label>Changes</md-tab-label>
         <md-tab-body>
            <md-content>
               <changes></changes>
            </md-content>
         </md-tab-body>
      </md-tab>
   </md-tabs>
</md-content>