<div id="scrollytab" class="panel-body">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block">Date</button>
        </div>
        <div class="col-md-4">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block">Tags</button>
        </div>
        <div class="col-md-4">
            <button type="button" ng-repeat="tag in tags" class="btn btn-success">{{tag}}</button>
        </div>
    </div>
</div>
