<h3>New Translation</h3>

<p><b>Purpose</b>: Users see this page when they want to respeak a recording, a purpose-built UI for doing so. Functionally similar to respeak. </p>

<p><b>Design influence</b>: ?</p>

<p><b>Navigation</b>: They get here from the project status page. Recording is a wizard that collects basic metadata. Returns to the project status page.</p>

<md-content style="{background-color:lightgrey;}" flex class="md-whiteframe-2dp md-padding">

    <h3>Mock-up</h3>

    <p>Tips on Translating.</p>

    <md-button class="md-raised">
        <md-icon md-svg-icon="av:mic"></md-icon>
        Record translation
    </md-button>
    or
    <md-button class="md-raised">
        <md-icon md-svg-icon="action:translate"></md-icon>
        Type translation
    </md-button>

</md-content>
