<!-- Main template for the view. Work in progress -->

<div layout="row">
    <ng-menubar flex></ng-menubar>
</div>

<md-content layout="row">
    <p>This is the view interface.</p>
</md-content>

<div layout="column" layout-align="space-between stretch" style="border-color:#f22">
    <ng-tabs flex></ng-tabs>
    <md-content style="background-color:#ddd">
        <div layout="row" layout-align="space-between start">
            <input flex id='fileinput' type='file' file-model='file' accept="audio/*" />
        </div>
    </md-content>
</div>
