<!-- This is displayed if we have no regions to edit -->
<div ng-if="annoCtrl.annotations.length==0" flex>
    <p class="animated md-title bounceInRight">{{"ANNO_NOEXIST" | translate}}</p>
</div>

<md-list id="annotationList">
    <md-list-item class="md-2-line animated bounceInRight" ng-repeat="anno in annoCtrl.annotations" ng-click="annoCtrl.editAnno($index)" layout="row">
        <md-icon md-svg-icon="image:filter_{{$index+1}}" class="md-avatar-icon" style="width:32px;height:32px;"></md-icon>
        <md-tooltip md-direction="top">Perform annotation</md-tooltip>
        <div class="md-list-item-text" layout="column" flex>
            <h4 class="md-subhead" style="text-transform: uppercase;">{{anno.type | translate}}</h4>
            <p class="md-body-2">{{anno.langStr}} ({{anno.langISO}})</p>
        </div>
        <md-button class="md-icon-button md-warn" aria-label="Delete" ng-click="annoCtrl.deleteAnno($index,$event)">
            <md-tooltip md-direction="left">{{"ANNO_DO" | translate}}</md-tooltip>
            <md-icon md-svg-icon="nav:close"></md-icon>
        </md-button>
        <md-divider ></md-divider>
    </md-list-item>
    <md-button ng-class="{'animated infinite pulse' : annoCtrl.annotations.length==0}" class="md-fab" aria-label="Add new" style="margin-left:13px" ng-click="annoCtrl.addAnno($event)">
        <md-tooltip md-direction="right">{{"ANNO_ADD" | translate}}</md-tooltip>
        <md-icon md-svg-icon="content:add"></md-icon>
    </md-button>
</md-list>
