<!-- This is displayed if we have no regions to edit -->
<md-content style="margin-top:10px;">
    <div flex class="trackboxinactive" layout="row">
        <div flex="10" layout="column" layout-align="center center">
            <span><md-icon md-svg-icon="av:volume_off"></md-icon>
                <span class="md-body-2" style="text-transform: uppercase" translate>AUDIO_NOEXIST</span>
            </span>
        </div>
        <span layout="column">
            <span ng-if="!alCtrl.hasAnnotations()" class="md-body-2" translate>ANNO_NOEXIST</span>
            <md-button ng-class="{'animated rubberBand infinite': !alCtrl.hasAnnotations()}" class="md-icon-button" aria-label="Add new" style="margin-left:13px" ng-click="alCtrl.addAnno($event)">
                        <md-tooltip md-direction="right" class="md-body-1">
                            <span translate>ANNO_ADD</span>
                        </md-tooltip>
                        <md-icon md-svg-icon="mdi:playlist-plus"></md-icon>
            </md-button>
        </span>
    </div>
    <div flex ng-repeat="tk in alCtrl.trackList" layout="row" ng-class="alCtrl.pcss[tk] ? 'trackboxactive' : 'trackboxinactive'">
        <div flex="10" layout="column" layout-align="center center">
            <span ng-class="{'animated flash infinite': alCtrl.pcssthis[tk]}"><md-icon md-svg-icon="{{alCtrl.tracks[tk].icon}}"></md-icon>
                <span class="md-body-2" style="text-transform: uppercase" translate>{{alCtrl.tracks[tk].type}}</span><span class="md-body-2">&nbsp;{{alCtrl.tracks[tk].cnt}}</span>
            </span>
            <md-button ng-disabled="(alCtrl.playingSec && !alCtrl.pcss[tk]) || !alCtrl.trackNumSegs(tk)" class="md-raised" ng-click="alCtrl.playSecondary(tk)" >
                <md-icon ng-if="!alCtrl.pcss[tk]" md-svg-icon="av:play_arrow" style="width:40px;height:40px"></md-icon>
                <md-icon ng-if="alCtrl.pcss[tk]" md-svg-icon="av:stop" style="width:40px;height:40px"></md-icon>
                <md-tooltip>
                    <span class="md-body-2" translate>{{alCtrl.tracks[tk].play}}</span>
                </md-tooltip>
            </md-button>
        </div>
        <div ng-if="alCtrl.tracks[tk].hasAnnos" flex layout="column">
            <md-list style="margin-top:-8px;margin-bottom:-5px;">
                <md-list-item flex ng-repeat="anno in alCtrl.tracks[tk].annos" ng-click="alCtrl.editAnno(anno.id)" layout="row" style="border-bottom:1px solid #ccc;position:relative;z-index:10">
<!--                    <md-tooltip md-direction="top" class="md-body-1">
                        <span translate>ANNO_DO</span>
                    </md-tooltip>-->
                    <div flex style="max-width:120px;margin-right:10px;" layout="column">
                        <div class="md-body-2" style="text-transform: uppercase;" translate>{{anno.type}}</div>
                        <div class="md-body-1" style="text-overflow:ellipsis;white-space:nowrap;overflow: hidden;">{{anno.lang}}</div>
                    </div>
                    <div flex layout="column" layout-align="start">
                        <span flex></span>
                        <div style="z-index:-1;position:relative;line-height: 20px;">&nbsp;
                            <span ng-class="(alCtrl.playingSec && alCtrl.pcss[tk] && alCtrl.sline == 0) ? 'stextlineactive' : 'stextline'">{{anno.summary[0]}}</span>
                        </div>
                        <div style="z-index:-1;position:relative;line-height: 20px;">&nbsp;
                            <span ng-class="(alCtrl.playingSec && alCtrl.pcss[tk] && alCtrl.sline == 1) ? 'stextlineactive' : 'stextline'">{{anno.summary[1]}}</span>
                        </div>
                        <div style="z-index:-1;position:relative;line-height: 20px;">&nbsp;
                            <span ng-class="(alCtrl.playingSec && alCtrl.pcss[tk] && alCtrl.sline == 2) ? 'stextlineactive' : 'stextline'">{{anno.summary[2]}}</span>
                        </div>
                        <div ng-if="!anno.summary[0] && !anno.summary[0] && !anno.summary[0]">
                            <span class="sxtextline" translate>NONE</span>
                        </div>
                    </div>
                    <md-icon style="width:30px;!important" class="md-secondary md-warn" md-svg-icon="nav:close" ng-click="alCtrl.deleteAnno($event, tk, $index)" aria-label="Delete annotation">
                        <md-tooltip md-direction="left">
                            <span translate class="md-body-1">ANNO_DEL</span>
                        </md-tooltip>
                    </md-icon>

                </md-list-item>
                <md-list-item>
                <md-button class="md-icon-button" aria-label="Add new" style="margin-left:13px" ng-click="alCtrl.addAnno($event, tk)">
                    <md-tooltip md-direction="right" class="md-body-1">
                        <span translate>ANNO_ADD</span>
                    </md-tooltip>
                    <md-icon md-svg-icon="mdi:playlist-plus"></md-icon>
                </md-button>
                </md-list-item>
            </md-list>
        </div>
        <span ng-if="!alCtrl.tracks[tk].hasAnnos" layout="column">
            <span class="md-body-2" translate>ANNO_NOEXIST</span>
            <md-button ng-class="{'animated rubberBand infinite': !alCtrl.hasAnnotations()}" class="md-icon-button" aria-label="Add new" style="margin-left:13px" ng-click="alCtrl.addAnno($event, tk)">
                <md-tooltip md-direction="right" class="md-body-1">
                    <span translate>ANNO_ADD</span>
                </md-tooltip>
                <md-icon md-svg-icon="mdi:playlist-plus"></md-icon>
            </md-button>
        </span>
    </div>
</md-content>
