<md-dialog  style="max-width:800px;max-height:810px;min-width:700px;min-height:300px;">
    <form name="userForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{"PROFILE_EDIT" | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="pdCtrl.close()">
                    <md-icon md-svg-icon="nav:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="row" ng-repeat="nameModel in pdCtrl.userNames">
                <md-input-container flex md-no-float style="height:32px;">
                    <input ng-model="nameModel.name" required 
                           placeholder="{{'META_NAME' | translate}}">
                </md-input-container>

                <md-button ng-if="$last" ng-disabled="nameModel.name.length === 0" ng-click="pdCtrl.addNewNameField()" >
                    <md-icon class="accent" md-svg-icon="content:add_circle_outline"></md-icon> <span class="md-body-2">{{"NAME_ADD" | translate}}</span>
                </md-button>
            </div>
            
            
            <md-input-container md-no-float class="md-block">
                <input name="email" ng-model="pdCtrl.userEmail" required 
                       placeholder="{{'META_EMAIL' | translate}}"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-disabled="userForm.email.$invalid || pdCtrl.userNames.length == 0" ng-click="pdCtrl.save()">{{"BUTTON_OK" | translate}}</md-button>
            <md-button ng-click="pdCtrl.close()" style="margin-right:20px;">{{"BUTTON_CANCEL" | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
