
<md-content md-scroll-x layout="row">
    <md-card class="detailscard" layout-align="space-between" ng-repeat="detail in mCtrl.details">
        <md-card-content>
            <span class="headtext">
                <md-icon style="width:32px;height:32px;padding-right:4px;" md-svg-icon="{{detail.icon}}"></md-icon>
                {{detail.name | translate}}
            </span>
            <p ng-if="detail.data==''" class="md-body-2"><i>{{"NONE"| translate}}</i></p>
            <p ng-if="detail.data!=''" class="md-body-1">{{detail.data}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end end">
            <md-button aria-label="Edit" class="md-icon-button" ng-click="mCtrl.editMetadata($event,$index)">
                <md-icon style="width:28px;height:28px;padding-right:8px;" md-svg-icon="image:edit"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
    <md-card class="detailscard" layout-align="space-between" ng-click="mCtrl.addMetadata()">
        <md-card-content>
            <span class="headtext">
                <md-icon style="width:32px;height:32px;padding-right:4px;" md-svg-icon="mdi:plus-circle-outline"></md-icon>
                {{"META_ADD" | translate}}
            </span>
        </md-card-content>

    </md-card>

</md-content>


