<div layout="row" flex ng-cloak>
    <section layout="column" resizable class="md-padding" r-directions="['right']" r-flex="false" style="width:60%">
        <div id="annotate-timeline" style="height:20px" layout-fill></div>
        <div id="annotatePlayback"></div>

        <div layout="row" layout-align="start center">
            <md-icon md-svg-src="img/icons/technology.svg" style="width:32px;height:32px;margin-left:8px;" aria-label="Recordings"></md-icon>
            <md-button ng-disabled="!annoC.hasAudio(atrack)"
                    ng-repeat="atrack in annoC.tracks.audio" aria-label="{{annoC.tracks[atrack].type | translate}}" ng-class="{'animated flash infinite': annoC.playCSS[atrack]}">
                <md-icon class="imgsvgicon" ng-style="annoC.tracks[atrack].color" style="width:40px;height:40px;" md-svg-icon="{{annoC.tracks[atrack].icon}}"></md-icon>
                <span translate>{{annoC.tracks[atrack].type}}</span>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Annotation Help" ng-click="annoC.help($event)">
                <md-tooltip><span translate class="md-body-2">ACTIVITY_HELP</span></md-tooltip>
                <md-icon class="imgsvgicon" md-svg-icon="action:help"></md-icon>
            </md-button>
        </div>

        <div flex ng-if="annoC.tracks[track].hasAnno" ng-repeat="track in annoC.tracks.list" layout="row" id="popupContainer">
            <div flex ng-class="annoC.r.tk === track ? 'activeannotation' : 'inactiveannotation'" ng-click="annoC.selectTrack(track)">
                <div ng-repeat="anno in annoC.tracks[track].annos track by anno.id" layout="row" layout-align="start center">
                    <md-menu>
                        <md-button class="md-icon-button" ng-disabled="annoC.r.tk !== track || !annoC.tracks[track].annos[$index].cfg.enabled" aria-label="Playback menu" ng-click="annoC.openMenu($mdOpenMenu, $event)">
                            <md-tooltip class="md-body-2"><span translate>PLAY_SRC</span></md-tooltip>
                            <md-icon md-menu-origin class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="annoC.toggleAnnoCfg(track, $index, 'playSrc')">
                                    <md-icon ng-if="anno.cfg.playSrc" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                    <md-icon ng-if="!anno.cfg.playSrc" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                    <span class="md-body-2" translate>PLAY_SRC</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="annoC.tracks[track].hasAudio">
                                <md-button ng-click="annoC.toggleAnnoCfg(track, $index, 'playSec')">
                                    <md-icon ng-if="anno.cfg.playSec" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                    <md-icon ng-if="!anno.cfg.playSec" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                    <md-icon class="imgsvgicon" ng-style="annoC.tracks[track].color" md-svg-icon="{{annoC.tracks[track].icon}}"></md-icon>
                                    <span class="md-body-2" translate>{{annoC.tracks[track].type}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-input-container flex class="md-block1" style="height:32px;">
                        <label class="md-subhead"><span style="text-transform: uppercase" translate>{{anno.type}}</span>: {{anno.lang}}</label>
                        <input class="md-body-1" autocomplete="off"
                               ng-disabled="annoC.r.tk !== track || !annoC.tracks[track].annos[$index].cfg.enabled || annoC.cursor[annoC.r.tk] === -1"
                               ng-model="anno.text[annoC.cursor[track]]" focus-on="{{anno.id}}"
                               ng-focus="annoC.selectAnno($index)"
                               ng-keyup="$event.keyCode == 13 && annoC.inputReturn($index)">
                    </md-input-container>

                    <md-switch ng-if="annoC.tracks[track].annos.length > 1" class="md-primary" ng-model="annoC.tracks[track].annos[$index].cfg.enabled" aria-label="Enable disable">
                        <md-tooltip class="md-body-2"><span translate>ANNO_TOG</span></md-tooltip>
                    </md-switch>

                    <md-button class="md-icon-button" ng-click="annoC.setVoiceRecogLang($event,track,$index)"
                               ng-class="{'animated flash infinite': (annoC.voiceRecogActive && annoC.selAnno[track] === $index && annoC.r.tk === track)}">
                        <md-tooltip class="md-body-2"><span translate>VOICE_CFG</span></md-tooltip>
                        <md-icon md-svg-icon="action:settings_voice"></md-icon>
                    </md-button>

                    <md-menu>
                        <md-button ng-disabled="annoC.r.tk !== track"
                                   class="bigsvgicon" aria-label="Track menu" ng-click="annoC.openMenu($mdOpenMenu, $event)">
                            <md-tooltip class="md-body-2"><span translate>TRACK_SELECT</span></md-tooltip>
                            <md-icon md-menu-origin style="width:40px;height:40px;"
                                     ng-style="annoC.tracks[track].color" md-svg-icon="{{annoC.tracks[track].icon}}"></md-icon>

                        </md-button>
                        <md-menu-content width="3" ng-init="aIdx = $index">
                            <md-menu-item ng-if="strack !== track" ng-repeat="strack in annoC.tracks.list">
                                <md-button  ng-click="annoC.joinTrackConf($event, track, aIdx, strack)">
                                    <md-icon class="imgsvgicon" ng-style="annoC.tracks[strack].color" md-svg-icon="{{annoC.tracks[strack].icon}}"></md-icon>
                                    <span class="md-body-2" translate>{{annoC.tracks[strack].action}}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="annoC.tracks[annoC.r.tk].hasAudio || annoC.tracks[annoC.r.tk].annos.length > 1">
                                <md-button  ng-click="annoC.splitTrack($event, track, aIdx)">
                                    <md-icon class="imgsvgicon" md-svg-icon="mdi:plus-box"></md-icon>
                                    <span class="md-body-2" translate>TRACK_NEW</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </div>
            </div>
        </div>

        <span ng-if="annoC.debug()" class="md-body-1">
            <pre>
vm.r.tk: {{annoC.r.tk}}
vm.cursor[vm.r.tk]: {{annoC.cursor[annoC.r.tk]}}
asx.playIn: {{annoC.getplayin()}}
            </pre>
        </span>

    </section>
    <md-content flex layout="column" class="md-whiteframe-3dp md-padding" style="width:40%;overflow-y: scroll">
        <md-subheader style="height:80px;">
             <div layout="row" layout-align="space-between start">
                <md-button aria-label="{{annoC.tracks[annoC.r.tk].type | translate}}">
                    <md-icon class="imgsvgicon" ng-style="annoC.tracks[annoC.r.tk].color" style="width:40px;height:40px;" md-svg-icon="{{annoC.tracks[annoC.r.tk].icon}}"></md-icon>
                    <span translate>{{annoC.tracks[annoC.r.tk].type}}</span>
                </md-button>
                 <md-menu>
                    <md-button md-menu-origin ng-disabled="!annoC.canExport()" ng-click="annoC.openMenu($mdOpenMenu, $event)">
                        <md-icon md-svg-icon="file:file_download"></md-icon>
                        <span translate>EXPORT_SAVE</span>
                    </md-button>
                     <md-menu-content width="3">
                         <md-menu-item>
                             <md-button ng-click="annoC.export('srt')">
                                 <md-icon md-svg-icon="file:file_download"></md-icon>
                                 <span translate>EXPORT_SRT</span></md-button>
                         </md-menu-item>
                         <md-menu-item>
                             <md-button ng-click="annoC.export('webvtt')">
                                 <md-icon md-svg-icon="file:file_download"></md-icon>
                                 <span translate>EXPORT_VTT</span></md-button>
                         </md-menu-item>
                     </md-menu-content>
                 </md-menu>
            </div>
        </md-subheader>

        <div ng-repeat="r in annoC.getRegions() track by $index"
             ng-class="($index === annoC.cursor[annoC.r.tk]) ? 'transcript-highlight' : 'transcript-normal'"
             ng-click="annoC.selectRegion($index)"
             class="noclicky" ng-init="r = $index" layout="row"
             ng-if="annoC.canExport()">

            <div flex layout="column">
                <div flex ng-if="anno.cfg.enabled" ng-repeat="anno in annoC.tracks[annoC.r.tk].annos track by anno.id" style="margin-left:5px;height:22px;">
                    <span flex ng-class="($index === annoC.selAnno[annoC.r.tk]) ? 'md-body-2' : 'md-body-1'" >
                        {{annoC.padOut(anno.text[r])}}</span>
                </div>

            </div>

            <div ng-if="annoC.tracks[annoC.r.tk].annos.length > 1" layout="column" layout-align="end end">
                <div flex ng-if="anno.cfg.enabled" ng-repeat="anno in annoC.tracks[annoC.r.tk].annos track by anno.id"  style="margin-right:5px;height:22px;">
                    <span flex class="md-caption" style="color:#aaa" translate>{{anno.type}}</span>
                </div>
            </div>
        </div>

        <span ng-if="!annoC.canExport()" class="md-body-2 transcript-normal"><i translate>NO_DISPLAY</i></span>
    </md-content>

</div>

