<div layout="row" flex>
    <section layout="column" resizable class="md-padding" r-directions="['right']" r-flex="false" style="width:60%">
        <div id="annotate-timeline" style="height:20px" layout-fill></div>
        <div id="annotatePlayback"></div>

        <div layout="row" layout-align="start center">
            <md-icon md-svg-src="img/icons/technology.svg" style="width:24px;height:24px;margin-left:8px;" aria-label="Recordings"></md-icon>
            <md-button ng-repeat="atrack in annoC.tracks.audio" aria-label="{{annoC.tracks[atrack].name}}" ng-class="{'animated flash infinite': annoC.playCSS[atrack]}">
                <md-icon class="imgsvgicon" ng-style="annoC.tracks[atrack].color" md-svg-icon="{{annoC.tracks[atrack].icon}}"></md-icon>
                <span>{{annoC.tracks[atrack].name | translate}}</span>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Use translation" ng-click="annoC.help($event)">
                <md-tooltip class="md-body-2">{{"ACTIVITY_HELP" | translate}}</md-tooltip>
                <md-icon class="imgsvgicon" md-svg-icon="action:help"></md-icon>
            </md-button>
        </div>

        <div flex ng-repeat="track in annoC.tracks.list" layout="row">
            <div flex ng-if="annoC.tracks[track].annos.length > 0" ng-class="annoC.r.tk === track ? 'activeannotation' : 'inactiveannotation'" ng-click="annoC.selectTrack(track)">
                <div  flex ng-repeat="anno in annoC.tracks[track].annos" layout="row" layout-align="start center">
                    <md-menu>
                        <md-button class="md-icon-button" ng-disabled="annoC.r.tk !== track" aria-label="Playback menu" ng-click="annoC.openMenu($mdOpenMenu, $event)">
                            <md-tooltip class="md-body-2">{{"PLAY_SRC" | translate}}</md-tooltip>
                            <md-icon md-menu-origin class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="annoC.toggleAnnoCfg(track, $index, 'playSrc')">
                                    <md-icon ng-if="anno.cfg.playSrc" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                    <md-icon ng-if="!anno.cfg.playSrc" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                    <span class="md-body-2">{{"PLAY_SRC" | translate}}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="annoC.tracks[track].hasAudio">
                                <md-button ng-click="annoC.toggleAnnoCfg(track, $index, 'playSec')">
                                    <md-icon ng-if="anno.cfg.playSec" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                    <md-icon ng-if="!anno.cfg.playSec" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                    <md-icon class="imgsvgicon" ng-style="annoC.tracks[track].color" md-svg-icon="{{annoC.tracks[track].icon}}"></md-icon>
                                    <span class="md-body-2">{{annoC.tracks[track].name | translate}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-input-container flex class="md-block1">
                        <label class="md-subhead"><span style="text-transform: uppercase">{{anno.type | translate}}</span>: {{anno.lang}}</label>
                        <input flex class="md-body-1" ng-model="anno.text[annoC.cursor[track]]" focus-on="{{anno.id}}"
                               ng-keyup="$event.keyCode == 13 && annoC.inputReturn($index)">
                    </md-input-container>

                    <md-menu>
                        <md-button class="bigsvgicon" aria-label="Track menu" ng-click="annoC.openMenu($mdOpenMenu, $event)">
                            <md-tooltip class="md-body-2">Track</md-tooltip>
                            <md-icon md-menu-origin style="width:40px;height:40px;"
                                     ng-style="annoC.tracks[track].color" md-svg-icon="{{annoC.tracks[track].icon}}"></md-icon>

                        </md-button>
                        <md-menu-content width="3" ng-init="aIdx = $index">
                            <md-menu-item ng-if="strack !== track" ng-repeat="strack in annoC.tracks.list">
                                <md-button  ng-click="annoC.joinTrackConf($event, track, aIdx, strack)">
                                    <md-icon class="imgsvgicon" ng-style="annoC.tracks[strack].color" md-svg-icon="{{annoC.tracks[strack].icon}}"></md-icon>
                                    <span class="md-body-2"> {{annoC.tracks[strack].type | translate}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </div>
            </div>
        </div>

        <span class="md-body-1">
            <pre>
                cursor: {{annoC.cursor[annoC.r.tk]}}
            </pre>
        </span>


    </section>
    <md-content flex layout="column" class="md-whiteframe-3dp md-padding" style="width:40%;overflow-y: scroll">
        <div ng-if="!annoC.annotations[annoC.selectedAnno].data.segment.annotations" class="md-body-2"><i>{{"NONE" | translate}}</i></div>
        <div ng-repeat="anno in annoC.annotations[annoC.selectedAnno].data.segment.annotations track by $index"
             ng-class="($index == annoC.reg.curRegion) ? 'transcript-highlight' : 'transcript-normal'"
             ng-click="annoC.selectRegion($index)"
             class="noclicky">
            <span ng-if="anno=='' || anno == null" class="md-body-1">&nbsp;</span>
            <span ng-if="!(anno=='' || anno == null)" class="md-body-1">{{anno}}</span>
        </div>
    </md-content>

</div>

