<div layout="row" flex>
    <section layout="column" resizable class="md-padding" r-directions="['right']" r-flex="false" style="width:60%">
        <div id="annotate-timeline" style="height:20px" layout-fill></div>
        <div id="annotatePlayback"></div>

        <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Use translation" ng-click="annoC.help($event)">
                <md-tooltip class="md-body-2">{{"ACTIVITY_HELP" | translate}}</md-tooltip>
                <md-icon class="imgsvgicon" md-svg-icon="action:help"></md-icon>
            </md-button>

            <md-button ng-if="annoC.hasRespeaking && !annoC.importedSegmentation" aria-label="Use respeaking" ng-click="annoC.useRspkTrans($event,'respeak')">
                <md-icon class="imgsvgicon" md-svg-icon="av:repeat"></md-icon>
                <span>{{"USE_RSPK" | translate}}</span>
            </md-button>

            <md-button ng-if="annoC.hasTranslation && !annoC.importedSegmentation" aria-label="Use translation" ng-click="annoC.useRspkTrans($event,'translate')">
                <md-icon class="imgsvgicon" md-svg-icon="action:translate"></md-icon>
                <span>{{"USE_TRANS" | translate}}</span>
            </md-button>

        </div>


        <section>
            <div ng-repeat="anno in annoC.annoList" layout="row" layout-align="start center">

                <md-menu>
                    <md-button class="md-icon-button" ng-disabled="!annoC.annoSettings[$index].enabled" aria-label="Playback menu" ng-click="annoC.openMenu($mdOpenMenu, $event)">
                        <md-tooltip class="md-body-2">{{"PLAY_SRC" | translate}}</md-tooltip>
                        <md-icon md-menu-origin class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item >
                            <md-button ng-click="annoC.toggleSourcePlayback($index)">
                                <md-icon ng-if="annoC.sourcePlayback[$index]" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                <md-icon ng-if="!annoC.sourcePlayback[$index]" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                <span class="md-body-2">{{"PLAY_SRC" | translate}}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-repeat="respk in annoC.respeakings" ng-init="annoIndex = anno._ID">
                            <md-button ng-click="annoC.toggleRespeaking(annoIndex, $index)">
                                <md-icon ng-if="annoC.isRspkActive(annoIndex, $index)" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                <md-icon ng-if="!annoC.isRspkActive(annoIndex, $index)" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                <span class="md-body-2">{{"RESPEAKING" | translate}} {{$index + 1}} <i>{{respk.source.created | date:'dd/MM/yyyy'}}</i></span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-repeat="trans in annoC.translations" ng-init="annoIndex = anno._ID">
                            <md-button ng-click="annoC.toggleTranslation(annoIndex, $index)">
                                <md-icon ng-if="annoC.isTransActive(annoIndex, $index)" class="imgsvgicon" md-svg-src="img/icons/speaker_on.svg"></md-icon>
                                <md-icon ng-if="!annoC.isTransActive(annoIndex, $index)" class="imgsvgicon" md-svg-src="img/icons/speaker_off.svg"></md-icon>
                                <span class="md-body-2">{{"TRANSLATE" | translate}} {{$index + 1}} <i>{{trans.source.created | date:'dd/MM/yyyy'}}</i></span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="annoC.toggleAnnoSetting($index, 'loop')">
                                <span ng-if="annoC.annoSettings[$index].loop" class="md-body-2"><md-icon class="imgsvgicon" md-svg-icon="av:loop"></md-icon> {{"PLAY_LOOP" | translate}}</span>
                                <span ng-if="!annoC.annoSettings[$index].loop" class="md-body-2"><md-icon class="imgsvgicon" md-svg-icon="av:play_arrow"></md-icon> {{"PLAY_ONCE" | translate}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>


                <md-input-container flex class="md-block1">
                    <label class="md-subhead"><span style="text-transform: uppercase">{{anno.type | translate}}</span>: {{anno.name}}</label>
                    <input class="md-body-1" focus-on="{{'inputfoo'+$index}}" ng-model="annoC.annotations[$index].data.segment.annotations[annoC.curRegion]"
                           ng-focus="annoC.selectAnno($index)"
                           ng-disabled="!annoC.annoSettings[$index].enabled || annoC.curRegion < 0"
                           ng-keyup="$event.keyCode == 13 && annoC.inputReturn($index)">
                </md-input-container>


                <md-input-container>
                    <md-tooltip class="md-body-2">{{"ANNO_TOG" | translate}}</md-tooltip>
                    <md-switch ng-model="annoC.annoSettings[$index].enabled" aria-label="Enable disable">
                    </md-switch>
                </md-input-container>

                <md-input-container>
                    <md-select class="md-body-1" ng-model="annoC.track[$index]">
                        <md-option ng-repeat="track in annoC.tracks" value="{{track}}">
                            <span >{{track}}</span>
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>
        </section>

    </section>
    <md-content flex layout="column" class="md-whiteframe-3dp md-padding" style="width:40%;overflow-y: scroll">
        <div ng-if="!annoC.annotations[annoC.selectedAnno].data.segment.annotations" class="md-body-2"><i>{{"NONE" | translate}}</i></div>
        <div ng-repeat="anno in annoC.annotations[annoC.selectedAnno].data.segment.annotations track by $index"
             ng-class="($index == annoC.curRegion) ? 'transcript-highlight' : 'transcript-normal'"
             ng-click="annoC.seekRegion($index)">
            <span class="md-body-1">{{anno}}</span>
        </div>
    </md-content>

</div>

