<md-content flex layout="column" id="popupContainer">
    <div id="session-timeline" style="height:20px" layout-fill></div>
    <div id="sessionPlayer"></div>
    <md-button class="md-raised" aria-label="Check" ng-click="pCtrl.wsPlayback.playPause()" >
        <div ng-if="!pCtrl.isplaying">
            <md-icon md-svg-icon="av:play_arrow"></md-icon><span class="buttontext">Play</span>
        </div>
        <div ng-if="pCtrl.isplaying">
            <md-icon md-svg-icon="av:pause"></md-icon><span class="buttontext">Pause</span>
        </div>
    </md-button>
</md-content>

