
<md-content flex layout="row" id="popupContainer">
    <md-button class="md-raised" aria-label="Check" ng-click="pCtrl.wsPlayback.playPause()" >
        <div ng-if="!pCtrl.isplaying">
            <md-icon md-svg-icon="av:play_arrow" style="width:40px;height:40px"></md-icon>
        </div>
        <div ng-if="pCtrl.isplaying">
            <md-icon md-svg-icon="av:pause" style="width:40px;height:40px"></md-icon>
        </div>
    </md-button>
    <div flex layout="column">
        <div id="session-timeline" style="height:20px"></div>
        <div flex id="sessionPlayer" style="height:160px;"></div>
    </div>
    <md-tooltip>
        <span translate class="md-body-2">AUDIO_SRC</span>
    </md-tooltip>
</md-content>

