<div flex layout="row" layout-align="start center">
    <div layout="column" flex="50" style="margin-right:10px;">


        <div ng-class="recordClass" class="respeakwavesurfer" id="respeakRecord"></div>
        <md-button flex ng-if="!nrCtrl.externalRecord" ng-disabled="nrCtrl.recordUrl" class="md-raised ng-class:{'nowrecording': nrCtrl.isrecording}" aria-label="Save" ng-click="nrCtrl.toggleRecord()" >
            <md-icon ng-if="!nrCtrl.isrecording" md-svg-icon="av:mic"></md-icon>
            <!--            <span ng-if="!nrCtrl.isrecording" flex>{{"RECORD" | translate}}</span>-->
            <md-icon ng-if="nrCtrl.isrecording" md-svg-icon="av:stop"></md-icon>
            <!--            <span ng-if="nrCtrl.isrecording" flex>{{"STOP" | translate}}</span>-->
        </md-button>

    </div>
    
    <div layout="column" flex="50">
        <md-input-container style="height:24px;" class="md-body-2">
            <label>{{'SESSION_NAME' | translate}}</label>
            <input ng-model="nrCtrl.selectedTitle"/>

        </md-input-container>
        <ng-messages for="nrCtrl.noMeta" role="alert">
            <ng-message when="title" class="md-caption">{{ "ERROR_SESSION_TITLE" | translate }}</ng-message>
        </ng-messages>

        <ng-language-selector on-change="nrCtrl.saveLangs(langIds)" style="margin-bottom:13px"></ng-language-selector>

        <ng-messages for="nrCtrl.noMeta" role="alert">
            <ng-message when="langs" class=" md-caption">{{ "ERROR_SESSION_LANG" | translate }}</ng-message>
            <ng-message when="rec">{{ "ERROR_SESSION_REC" | translate }}</ng-message>
        </ng-messages>


        </div>
</div>
<md-button ng-if="!nrCtrl.externalRecord" ng-disabled="!nrCtrl.hasrecdata" class="md-raised" ng-class="playbackClass" aria-label="Check" ng-click="nrCtrl.play()" >
    <md-icon md-svg-icon="av:play_arrow"></md-icon>
<!--    <span class="buttontext">{{"PLAY" | translate}}</span>-->
</md-button>
<md-button ng-if="!nrCtrl.externalRecord" class="md-raised" aria-label="Reset" ng-click="nrCtrl.reset()" >
    <md-icon md-svg-icon="action:delete"></md-icon>
<!--    <span class="buttontext">{{"RESET" | translate}}</span>-->
</md-button>
<md-button ng-disabled="nrCtrl.isMetaEmpty()" class="md-raised" aria-label="Save" ng-click="nrCtrl.save()" >
    <md-icon md-svg-icon="content:save"></md-icon>
<!--    <span class="buttontext">{{"SAVE" | translate}}</span>-->
</md-button>
