<div flex layout="row" layout-align="start center" >
    <div layout="column" flex="50" style="margin-right:10px;">


        <div ng-class="recordClass" class="respeakwavesurfer" id="respeakRecord" layout="column" style="position:relative">
            <md-progress-linear class="centertextbox" ng-if="nrCtrl.isLoading()" md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-button flex ng-if="!nrCtrl.externalRecord" ng-disabled="nrCtrl.recordUrl" class="md-raised ng-class:{'nowrecording': nrCtrl.isrecording}" aria-label="Save" ng-click="nrCtrl.toggleRecord()" >
            <md-icon ng-if="!nrCtrl.isrecording" md-svg-icon="av:mic"></md-icon>
            <!--            <span ng-if="!nrCtrl.isrecording" flex>{{"RECORD" | translate}}</span>-->
            <md-icon ng-if="nrCtrl.isrecording" md-svg-icon="av:stop"></md-icon>
            <!--            <span ng-if="nrCtrl.isrecording" flex>{{"STOP" | translate}}</span>-->
        </md-button>

    </div>
    
    <div layout="column" flex="50">
        <md-input-container class="md-body-2">
            <label translate>SESSION_NAME</label>
            <input class="md-body-2" ng-model="nrCtrl.selectedTitle"/>

        </md-input-container>
        <ng-messages for="nrCtrl.noMeta" role="alert">
            <ng-message when="title" class="md-caption">{{ "ERROR_SESSION_TITLE" | translate }}</ng-message>
        </ng-messages>

        <ng-language-selector on-change="nrCtrl.saveLangs(langIds)" style="margin-bottom:13px"></ng-language-selector>

        <ng-messages for="nrCtrl.noMeta" role="alert">
            <ng-message when="langs" class=" md-caption">{{ "ERROR_SESSION_LANG" | translate }}</ng-message>
        </ng-messages>


        </div>
</div>
<md-button ng-disabled="!nrCtrl.hasrecdata" class="md-raised" ng-class="playbackClass" aria-label="Check" ng-click="nrCtrl.play()" >
    <md-icon ng-if="!nrCtrl.externalRecord || (nrCtrl.externalRecord && !nrCtrl.wsRecord.isPlaying())" md-svg-icon="av:play_arrow"></md-icon>
    <md-icon ng-if="nrCtrl.externalRecord && nrCtrl.wsRecord.isPlaying()" md-svg-icon="av:pause"></md-icon>
<!--    <span class="buttontext">{{"PLAY" | translate}}</span>-->
</md-button>
<md-button ng-if="!nrCtrl.externalRecord" class="md-raised" aria-label="Reset" ng-click="nrCtrl.cancelDelete()" >
    <md-tooltip ng-if="nrCtrl.hasrecdata" class="md-body-2">{{"META_DEL" | translate}}</md-tooltip>
    <md-tooltip ng-if="!nrCtrl.hasrecdata" class="md-body-2">{{"BUTTON_CANCEL" | translate}}</md-tooltip>
    <md-icon ng-if="!nrCtrl.hasrecdata" md-svg-icon="nav:cancel"></md-icon>
    <md-icon ng-if="nrCtrl.hasrecdata" md-svg-icon="action:delete"></md-icon>
</md-button>
<md-button ng-disabled="nrCtrl.isMetaEmpty()" class="md-raised" aria-label="Save" ng-click="nrCtrl.save()" >
    <md-tooltip class="md-body-2">{{"SAVE" | translate}}</md-tooltip>
    <md-icon md-svg-icon="action:done"></md-icon>
</md-button>
