<div flex layout="column">
    <div id="respeak-timeline" style="height:20px" layout-fill></div>
    <div id="respeakPlayback"></div>
</div>

<div layout="row">

    <div layout="row" flex="50" >
        <md-button flex class="md-raised" ng-class="{'nowplaying': rCtrl.isPlaying}" aria-label="Play" ng-mousedown="rCtrl.playDown()" ng-mouseup="rCtrl.playUp()">
            <md-icon md-svg-icon="av:play_arrow" style="width:50px;height:50px"></md-icon>
            <span flex>{{"PLAY" | translate}}</span>
        </md-button>
        <md-button flex ng-disabled="rCtrl.regionList.length == 0" class="md-raised" aria-label="Reset" ng-click="rCtrl.redo()" >
            <md-icon md-svg-icon="av:replay" style="width:50px;height:50px"></md-icon>
            <span flex>{{"REDO" | translate}}</span>
        </md-button>
        <md-button flex ng-disabled="rCtrl.recordDisabled" class="md-raised"  ng-class="{'nowrecording': rCtrl.isRecording}" aria-label="Record" ng-mousedown="rCtrl.recDown()" ng-mouseup="rCtrl.recUp()" >
            <md-icon md-svg-icon="av:mic" style="width:50px;height:50px"></md-icon>
            <span flex>{{"RECORD" | translate}}</span>
        </md-button>

    </div>
    <div flex="50" id="respeakRecord" class="respeakwavesurfer" ng-class="rCtrl.recordClass" style="position:relative">
        <span class="centertextbox md-headline">{{rCtrl.helpText | translate}}</span>
    </div>

</div>

<md-content ng-if="rCtrl.playBoxesEnabled">
    <md-grid-list
            md-cols-gt-md="12" md-cols="1" md-cols-md="1"
            md-row-height-gt-md="1:1" md-row-height="1:1"
            md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
        <md-grid-tile ng-repeat="region in rCtrl.segMap">
            <md-button class="md-raised" ng-click="rCtrl.playSegment($index)" >
                {{$index+1}}
            </md-button>
        </md-grid-tile>
    </md-grid-list>
</md-content>

<!--<div ng-if="rCtrl.hasRecording">
    <audio ng-src="{{rCtrl.recordingFile}}" controls></audio>
</div>-->

<md-button class="md-raised" aria-label="Save" ng-click="rCtrl.saveFile()" >
    <md-icon md-svg-icon="content:save"></md-icon>
    {{"FINISH" | translate}}
</md-button>
