<div flex layout="column">
    <div id="respeak-timeline" style="height:20px" layout-fill></div>
    <div id="respeakPlayback"></div>
</div>

<div layout="row">

    <div layout="column" flex="50">
        <div ng-if="type === 'translate'">
        <ng-language-selector  lang-id-name-map="langIdNameMap" lang-id-list="rCtrl.srcLangIds" on-change="rCtrl.saveLangs(langIds)" flex style="margin-left:8px;height:22px"></ng-language-selector>
        <span ng-show="rCtrl.srcLangIds.length === 0" class="md-caption">{{ "ERROR_SESSION_LANG" | translate }}</span>
        </div>
        <div layout="row" flex="50" >
            <md-button flex class="md-raised" ng-class="{'md-primary': rCtrl.isPlaying}" aria-label="Play" ng-mousedown="rCtrl.playDown()" ng-mouseup="rCtrl.playUp()">
                <md-icon md-svg-icon="av:play_arrow" style="width:50px;height:50px"></md-icon>
             <!--   <span flex>{{"PLAY" | translate}}</span>-->
            </md-button>
            <md-button flex ng-disabled="rCtrl.undoDisabled || rCtrl.regionList.length == 0" class="md-raised" aria-label="Reset" ng-click="rCtrl.redo()" >
                <md-icon md-svg-icon="av:replay" style="width:50px;height:50px"></md-icon>
               <!-- <span flex>{{"REDO" | translate}}</span>-->
            </md-button>
            <md-button flex ng-disabled="rCtrl.recordDisabled" class="md-raised"  ng-class="{'md-primary': rCtrl.isRecording}" aria-label="Record" ng-mousedown="rCtrl.recDown()" ng-mouseup="rCtrl.recUp()" >
                <md-icon md-svg-icon="av:mic" style="width:50px;height:50px"></md-icon>
             <!--   <span flex>{{"RECORD" | translate}}</span>-->
            </md-button>

        </div>
    </div>
    
    <div flex="50" id="respeakRecord" class="respeakwavesurfer" ng-class="rCtrl.recordClass" style="position:relative">
        <span class="centertextbox md-headline">{{rCtrl.helpText | translate}}</span>
    </div>

</div>

<md-content ng-if="rCtrl.playBoxesEnabled">
    <md-grid-list
            md-cols-gt-md="12" md-cols="1" md-cols-md="1"
            md-row-height-gt-md="1:1" md-row-height="1:1"
            md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
        <md-grid-tile ng-repeat="region in rCtrl.segMap">
            <md-button class="md-raised" ng-click="rCtrl.playSegment($index)" >
                {{$index+1}}
            </md-button>
        </md-grid-tile>
    </md-grid-list>
</md-content>

<md-button class="md-raised" aria-label="Cancel" ng-click="rCtrl.cancelDelete($event)" >
    <md-tooltip class="md-body-2">{{"META_DEL" | translate}}</md-tooltip>
    <md-tooltip ng-if="rCtrl.segMap.length > 0" class="md-body-2">{{"META_DEL" | translate}}</md-tooltip>
    <md-tooltip ng-if="rCtrl.segMap.length === 0" class="md-body-2">{{"BUTTON_CANCEL" | translate}}</md-tooltip>
    <md-icon ng-if="rCtrl.segMap.length === 0" md-svg-icon="nav:cancel"></md-icon>
    <md-icon ng-if="rCtrl.segMap.length > 0" md-svg-icon="action:delete"></md-icon>
</md-button>

<md-button ng-disabled="rCtrl.srcLangIds.length === 0 || rCtrl.segMap.length === 0" class="md-raised" aria-label="Save" ng-click="rCtrl.saveFile()" >
    <md-tooltip class="md-body-2">{{"SAVE" | translate}}</md-tooltip>
    <md-icon md-svg-icon="action:done"></md-icon>
</md-button>

