<div flex layout="column">
    <div id="respeak-timeline" style="height:20px" layout-fill></div>
    <div id="respeakPlayback"></div>
</div>

<div layout="row">
    <div layout="column" flex="50" >
        <md-button ng-disabled="rCtrl.segments.length == 0 || rCtrl.playrecturn!=='play' || rCtrl.isplaying" class="md-raised" aria-label="Reset" ng-click="rCtrl.reset()" >
            <md-icon md-svg-icon="av:replay"></md-icon>
            <span flex>Redo</span>
        </md-button>

        <md-button ng-disabled="rCtrl.playrecturn!=='play'" class="md-raised ng-class:{'nowplaying': rCtrl.isplaying }" aria-label="Play" ng-click="rCtrl.save()" >
            <md-icon md-svg-icon="av:play_arrow"></md-icon>
            <span flex>Play</span>
        </md-button>
        <md-button ng-disabled="rCtrl.playrecturn!=='record'" class="md-raised ng-class:{'nowrecording': rCtrl.isrecording}" aria-label="Save" ng-click="rCtrl.save()" >
            <md-icon md-svg-icon="av:mic"></md-icon>
            <span flex>Record</span>
        </md-button>

        <div ng-if="rCtrl.hasrecording()">
            <audio controls ng-src="{{recording}}">
            </audio>
        </div>
    </div>
    <div flex="50" ng-class="recordClass" class="respeakwavesurfer" id="respeakRecord"></div>
</div>

<pre pretty-json="rCtrl.segments"></pre>

<md-button class="md-raised" aria-label="Reset" ng-click="rCtrl.reset()" >
    <md-icon md-svg-icon="action:restore"></md-icon>
    Reset
</md-button>

<md-button class="md-raised" aria-label="Save" ng-click="rCtrl.save()" >
    <md-icon md-svg-icon="content:save"></md-icon>
    Save
</md-button>

