<div flex layout="column">
    <div ng-class="playbackClass" class="respeakwavesurfer" id="respeakPlayback"></div>
    <div ng-class="recordClass" class="respeakwavesurfer" id="respeakRecord"></div>
</div>

<md-button class="md-raised" aria-label="Reset" ng-click="rCtrl.reset()" >
    <md-icon md-svg-icon="action:restore"></md-icon>
    Reset
</md-button>
<md-button class="md-raised" aria-label="Save" ng-click="rCtrl.save()" >
    <md-icon md-svg-icon="content:save"></md-icon>
    Save
</md-button>

<div ng-if="rCtrl.hasrecording()">
    <audio controls ng-src="{{recording}}">
    </audio>
</div>

<pre pretty-json="segments" />


