<span ng-if="slCtrl.sessionList.length === 0 && !slCtrl.deleted" class="md-title inset">{{"HOME_NOSESSION" | translate }}</span>

<md-list ng-if="slCtrl.sessionList.length > 0">
    <md-list-item class="md-3-line" ng-repeat="session in slCtrl.sessionList" ng-click="!slCtrl.deleted && slCtrl.goStatus($index)">
        <div ng-if="slCtrl.currentUser.files[session.data.imageIds[0]].url"
             ng-style="{ 'background-image': 'url(' + slCtrl.currentUser.files[session.data.imageIds[0]].url +')' }"
             class="roundedthumbnails"></div>
        <div ng-if="!slCtrl.currentUser.files[session.data.imageIds[0]].url"
             ng-style="{ 'background-image': 'url(img/placeholder.png)' }" class="roundedthumbnails"></div>
        <div class="md-list-item-text" layout="column">
            <span class="md-title">{{ session.data.names[0] }}</span>
            <span class="md-body-2">{{"HOME_LASTMODIFIED" | translate}}: <i>{{ session.data.lastModified | date:'yyyy/MM/dd &mdash; HH:mm' }}</i></span>
            <p>
                <span ng-repeat="meta in session.data.details">
                    <md-icon md-svg-icon="{{meta.icon}}" style="width:12px;height:12px"></md-icon>
                    <span class="md-body-2">{{meta.name | translate}}: </span>
                    <span ng-if="meta.data === ''" class="md-body-1"><i>{{"NONE" | translate}}.</i> </span>
                    <span ng-if="meta.data !== ''" class="md-body-1">{{meta.data}}. </span>
                </span>
            </p>
        </div>
        <md-icon ng-if="!slCtrl.deleted" class="md-secondary" md-svg-icon="action:delete"
                 ng-click="slCtrl.trashSession($event, $index)" aria-label="Trash session">
            <md-tooltip md-direction="left">
                <span translate class="md-body-1">SESSION_DELYES</span>
            </md-tooltip>
        </md-icon>
        <md-icon ng-if="slCtrl.deleted" class="md-secondary" md-svg-icon="mdi:backup-restore"
                 ng-click="slCtrl.restoreSession($index)" aria-label="Restore session">
            <md-tooltip md-direction="left">
                <span translate class="md-body-1">SESSION_RESTORE</span>
            </md-tooltip>
        </md-icon>
    </md-list-item>
</md-list>

