
<md-chips ng-model="selectedTags" md-autocomplete-snap
          md-transform-chip="tsCtrl.transformChip($chip)"
          md-require-match="false">
    <md-autocomplete
            md-selected-item="tsCtrl.selectedItem"
            md-search-text="tsCtrl.searchText"
            md-items="item in tsCtrl.tagQuerySearch(tsCtrl.searchText)"
            md-item-text="item.name"
            md-menu-class="md-dense"
            placeholder="{{tsCtrl.placeholder}}">
        <span md-highlight-text="tsCtrl.searchText">{{item.name}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
        </span>
    </md-chip-template>
</md-chips>
