<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <span class="md-headline">{{'HOME' | translate}}</span>

        <md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right" md-open="tbCtrl.open"
                           ng-mouseenter="tbCtrl.open=true" ng-mouseleave="tbCtrl.open=false">
            <md-fab-trigger>
                <md-icon md-svg-icon="action:language"></md-icon>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button ng-repeat="lang in tbCtrl.languages" aria-label="{{lang.name | translate}}" class="md-fab md-raised md-mini" ng-click="tbCtrl.changeLang(lang.code)">
                    <span class="md-title" style="font-size:{{lang.toolfontsize}}px;font-weight: 700;">{{lang.toolshort}}</span>
                </md-button>
             </md-fab-actions>
        </md-fab-speed-dial>

    </div>
</md-toolbar>

