
<md-contact-chips flex
                  ng-model="selectedPeople"
                  md-contacts="usCtrl.personQuerySearch($query)"
                  md-contact-name="pname"
                  md-contact-image="image"
                  md-contact-email="email"
                  md-require-match="true"
                  md-highlight-flags="i"
                  filter-selected="usCtrl.filterSelectedPeople"
                  placeholder="{{usCtrl.placeholder}}"
                  secondary-placeholder="{{usCtrl.secondaryPlaceholder}}">
</md-contact-chips>
