<!-- This is the top row with a file selector and a region status display -->
<md-content layout="row" layout-fill layout-align="end end" ng-cloak >
   <div flex="60">
      S: {{(wavesurf.region.start).toFixed(1)}} E: {{(wavesurf.region.end).toFixed(1)}}
   </div>
   <div flex="20">
      <div layout layout-align="end">
         <md-slider flex ng-disabled="wavesurf.playbackdisabled" ng-change="wavesurf.zoomhandler()" ng-model="wavesurf.zoomval" min="50" max="350" aria-label="zoom" id="zoom-slider" class="md-primary">
         </md-slider>
      </div>
   </div>
   <div flex="20">
      <div layout layout-align="end">
         <md-button class="md-raised md-primary" ng-disabled="wavesurf.playbackdisabled" ng-click="wavesurf.wavesurfer.playPause()">
            <span id="play" ng-show="wavesurf.paused"><md-icon md-svg-icon="av:play_arrow"></md-icon> Play</span>
            <span id="play" ng-show="!wavesurf.paused"><md-icon md-svg-icon="av:pause"></md-icon>  Pause</span>
         </md-button>
      </div>
   </div>
</md-content>
<md-content layout="row" layout-fill>
   <!-- Wavesurfer timeline plug-in targets this id -->
   <div id="wave-timeline" style="height:20px" layout-fill></div>
</md-content>
<!-- This row has the annoweb waveform and timeline -->
<md-content  flex style="background-color:#e1e1e1" style="overflow:hidden" id="wave-form">
</md-content>

